/*------------------------------------*\
    #ARTICLE
\*------------------------------------*/

.article-wrapper {
    @include media-breakpoint-up(md) {
        padding-top: 50px;
    }
}

.article-sidebar {
    will-change: min-height;
}



.article-sidebar__inner {
    padding: 35px 10px 25px;
    border-bottom: 3px solid $primary;
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;

    @include media-breakpoint-up(md) {
        border-bottom: none;
        padding: 25px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: -50px;
            left: 0;
            width: 3px;
            height: calc(100% + 200px);
            background-color: $primary;
        }
    }

    .list-group-item.active {
      border-bottom: 3px solid #0b91aa;
    }
}

.article-sidebar__menu {
    a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            color: $accent;
            text-decoration: none;
        }
    }

    li {
        margin-bottom: 10px;
    }
}

.article {
    padding: 20px 10px 5px;

    @include media-breakpoint-up(md) {
        padding: 15px 20px 75px;
    }

    @include media-breakpoint-up(lg) {
        padding-right: 50px;
    }

    h2 {
        margin: 10px 0;

        @include media-breakpoint-up(md) {
            margin: 25px 0;
        }
    }

    p {
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
        }
    }

    h3 {
        margin: 20px 0;

        @include media-breakpoint-up(md) {
            margin: 30px 0;
        }
    }
}

.breadcrumb {
  margin: 0.25em 0 0.5em;

  a {
    color: $text-color;
  }

  .active {
    color: $accent;
  }
}
