/*------------------------------------*\
    #FORMS
\*------------------------------------*/

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 12px;
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
    line-height: 18px;
    color: rgba(74, 74, 74, .44);

    // Placeholder
    &::placeholder {
        color: #bbbbbb;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
    }
}

.was-validated .form-control:invalid {
    border-color: $danger;
}

.control-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}