//
// Text
//

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .text#{$infix}-left {
            text-align: left;
        }
        .text#{$infix}-right {
            text-align: right;
        }
        .text#{$infix}-center {
            text-align: center;
        }
    }
}

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-underline {
    text-decoration: underline !important;
}
