/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

//Colors
$primary: #0b91aa;
$secondary: #f0d02f;

$danger: #dc3545;

//Typography
$font-size-base: 16px;
$line-height-base: 1.5;

$text-color: #4a4a4a;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        md: 768px,
        lg: 992px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;


