<footer class="background">
    <div class="container-fluid page-container page-footer">
        <div class="row">
            <div class="col-12 col-md-6 d-none d-md-block">
                <ul class="list-unstyled footer-menu">
                    <li><a href="https://www.thelifeyoucansave.org/impact-calculator" target="_blank">Policz tworzone dobro</a></li>
                    <li><a href="https://drive.google.com/drive/folders/10TgWw_2vMKzcbRUn1HpMsqgmwoW9Dy0l?usp=sharing" target="_blank">Materiały dla mediów</a></li>
                    <li><a href="{{ base_url }}napisz-do-nas.html">Napisz do nas</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 align-self-end text-right page-footer__copyright">

              <p>
                Design: Agnieszka Pisz <span class="d-none d-md-inline">/</span> <br class="d-md-none"/> Development:
                Adrian Andrzejewski, Marcin Wosinek
              </p>
              <a href="https://guideme24.pl/privacy-policy/1041" class="guide-embed guide-color-0 guide-branded guide-button-policy" title="Polityka Prywatności" onclick="TINY.box.show({iframe:'https://guideme24.pl/privacy-policy/1041',boxid:'frameless',width:760,height:450,fixed:false}); return false;">Polityka Prywatności</a>
              <script type="text/javascript">
                (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                 s.src = "https://guideme24.pl/privacy-policy/client.js"; tag.parentNode.insertBefore(s,tag);};
                 if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}
                 else{w.onload = loader;}})(window, document);
              </script>
            </div>
        </div>
    </div>
</footer>
