<header class="page-header border-bottom">
    <div class="container-fluid page-container">
        <nav class="page-header__nav">
            <a href="{{ base_url }}index.html" class="logo">
                <img src="{{ base_url }}images/logo.svg" class="logo__img" alt="Efektywny Altruizm">
                <span class="logo__text"><strong>Efektywny</strong> Altruizm</span>
            </a>

            <input type="checkbox" id="menu-toggle" class="main-menu__input"/>
            <label for="menu-toggle" class="main-menu__label"></label>
            <div class="menu-overlay d-md-none"></div>

            <ul class="main-menu d-md-flex">
                <li {%if page=='about' %}class="main-menu--active" {% endif %}>
                    <a href="{{ base_url }}o-ruchu.html">O ruchu</a>
                </li>

                <li {%if page=='community' %}class="main-menu--active" {% endif %}>
                    <a href="{{ base_url }}polska-spolecznosc.html">Polska społeczność</a>
                </li>

                <li {%if page=='getInvolved' %}class="main-menu--active" {% endif %}>
                    <a href="{{ base_url }}zacznij-dzialac.html">Zacznij działać</a>
                </li>

                <li {%if page=='blog' %}class="main-menu--active" {% endif %}>
                    <a href="{{ base_url }}blog-list.html">Blog</a>
                </li>

                <li class="d-md-none"><a href="https://www.givingwhatwecan.org/get-involved/how-rich-am-i/" target="_blank">Policz uratowane życia</a></li>
                <li class="d-md-none"><a href="https://drive.google.com/drive/folders/10TgWw_2vMKzcbRUn1HpMsqgmwoW9Dy0l" target="_blank">Materiały dla mediów</a></li>
                <li class="d-md-none"><a href="{{ base_url }}napisz-do-nas.html">Napisz do nas</a></li>
            </ul>
        </nav>
    </div>
</header>
