<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Efektywny Altruizm
        {% endif %}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url }}css/ea.min.css?v=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-target=".article-sidebar__menu" data-offset="106">

{% include 'header.html' %}

<main class="page-main">

    {% block content %}
    {% endblock %}

</main>

{% include 'footer.html' %}

{% block scripts %}
{% endblock %}
<script src="js/ea.min.js"></script>
</body>
</html>
