{% extends "blog.html" %}

{% block content %}

<section class="article-wrapper border-bottom">
    <div class="page-container">
        <div class="row">

            <div class="col-12 col-md-8 order-md-1">
                <article class="article">
                    <h2 class="border-bottom d-inline-block">Myśl jak efektywny altruista</h2>
                    <h3><strong>5 kluczowych pytań efektywnego altruizmu</strong></h3> 
                  <p>Jak wielu ludzi odnosi korzyść i w jakim stopniu?<br><br>
                      Tak jak James Orbinski, doktor, który brał udział w selekcji medycznej podczas ludobójstwa w Rwandzie, 
                      musimy podejmować trudne decyzje dotyczące tego komu pomagamy a komu nie. To wymaga zastanowienia się, 
                      jak duże będą korzyści zapewnione przez różne działania. Wskaźnik <a href="http://www.wikiwand.com/pl/QALY" target="_blank">QALY</a> (z ang. quality-adjusted life year), 
                      czyli liczba lat życia skorygowana jego jakością, pozwala na porównanie wpływu jaki mają poszczególne programy zdrowotne.<br><br>
                      Czy jest to najbardziej efektywna rzecz, którą możesz zrobić?<br><br>
                      Zdecydowanie najlepsze programy zdrowotne i edukacyjne są setki razy lepsze niż “po prostu” bardzo dobre programy. 
                      Likwidacja ospy sprawiła tyle dobra, że samo to pokazuje, że pomoc krajom rozwijającym się jest na ogół wysoce opłacalna.<br><br>
                      Czy ten obszar jest pomijany?<br><br>
                      Na klęski żywiołowe przeznacza się znacznie więcej funduszy niż na bieżące problemy związane ze śmiercią i cierpieniem, 
                      jak na przykład choroby. Z tego powodu, pomoc w przypadku klęsk żywiołowych nie jest najefektywniejszym sposobem wydatkowania pieniędzy. 
                      Ponadto, choroby takie jak malaria, które dotykają ludzi w krajach rozwijających się, są znacznie mniej finansowane niż schorzenia takie jak nowotwory. 
                      Z tego powodu, o wiele większy wpływ ma się lecząc ludzi z malarii niż lecząc ich z nowotworów.<br><br>
                      Co stałoby się w przeciwnym razie?<br><br>
                      Po udziale w programie Scared Straight, młodzi ludzie byli skłonni popełniać przestępstwa częściej niż w przypadku, gdyby nie brali w nim udziału; 
                      tak więc, ogólnie rzecz biorąc, program ten przyniósł więcej szkody niż pożytku. W pewnych zawodach, takich jak lekarz, czasami czyni się dobro, 
                      które i tak byłoby uczynione. Jednakże, w przypadku <a href="http://www.wikiwand.com/en/Earning_to_give" target="_blank">zarabiania by dawać</a> 
                      (z ang. earning to give) dokonuje się zmian, które w przeciwnym razie nie miałyby miejsca.<br><br>
                      <i>Jakie są szanse na sukces i jak duży by on był?</i><br><br>
                      Niektóre działania, takie jak głosowanie, angażowanie się w politykę, popieranie zmian systemowych lub zmniejszanie ryzyka katastrof globalnych, 
                      są efektywne nie dlatego, że mają szansę coś zmienić, ale dlatego, że jeśli coś zmienią, to ich wpływ będzie ogromny.<br>
                    <h3><strong>Której organizacji charytatywnej powinno się przekazać darowiznę?</strong></h3>
                    <i>Czym zajmuje się dana organizacja charytatywna?</i><br><br>
                    Jak dużo różnych programów ona prowadzi? Co dokładnie robi ta organizacja w każdym poszczególnym programie? 
                    Jeśli prowadzi ona więcej niż jeden program, dlaczego to robi?<br><br>
                    Jak opłacalny jest obszar działania każdego z programów?<br><br>
                    Czy organizacja skupia się na najważniejszych problemach? Czy jej programy są ewidentnie opłacalne i jeśli tak, to jak bardzo?<br><br>
                    <i>Jak solidne są podstawy naukowe każdego programu?</i><br><br>
                    Jakie są przesłanki dowodzące słuszności prowadzenia danych programów przez organizację? Czy efektywność programów jest testowana? 
                    Czy organizacja wnikliwie monitoruje i ewaluuje postępy poczynione przez swoje programy?<br><br>
                    <i>Jak pomyślnie został wdrożony każdy z programów?</i><br><br>
                    Czy zarząd organizacji ma na koncie wyraźne sukcesy w innych obszarach? Czy działalność organizacji jest przejrzysta? 
                    Czy organizacja przyznaje się do błędów, które popełniła w przeszłości? Jakie są alternatywne organizacje, które mógłbym wesprzeć? 
                    Czy istnieją dobre powody do przypuszczania, że właśnie ta organizacja jest najlepsza spośród wszystkich alternatyw?<br><br>
                    <i>Czy organizacja potrzebuje dodatkowych funduszy?</i><br><br>
                    Jak wykorzystane byłyby dodatkowe fundusze? Dlaczego do tej pory darczyńcy nie wsparli tej organizacji do takiego stopnia, 
                    że nie miałaby już na co wydawać większej ilości pieniędzy?<br>
                    <h3><strong>Jaką ścieżkę kariery powinieneś wybrać?</strong></h3>
                    <i>Jak osobiście będę pasować do tej pracy?</i><br><br>
                    Jak bardzo usatysfakcjonowany będę w tej pracy? Czy jestem podekscytowany na myśl o wykonywaniu tej pracy? 
                    Czy myślę, że mógłbym poświęcić się tej pracy przez znaczny okres czasu? Jak dobry jestem, albo mogę być, 
                    w takim rodzaju pracy, w porównaniu z innymi ludźmi i w porównaniu z innymi karierami, które mógłbym wybrać?<br><br>
                    <i>Jaki będzie mój wpływ, gdy wybiorę taką ścieżkę kariery?</i><br><br>
                    Na jak wiele środków mógłbym mieć wpływ, czy to poprzez wykonywaną przeze mnie pracę, ludzi, których budżetem bym dysponował, 
                    pieniądze, które bym zarobił, czy platformy publiczne, do których bym miał dostęp? Jak efektywne są działania, na które mógłbym przenaczyć 
                    te środki?<br><br>
                    <i>Jaki ta praca przełożyłaby się na mój wpływ w późniejszym życiu?</i><br><br>
                    Jak bardzo ta praca pomoże mi w budowaniu umiejętności, kontaktów i kwalifikacji? Czy pozwoli mi otwierać przed sobą nowe możliwości? 
                    Jak dużo się dowiem pracując w ten sposób o tym, co mógłbym chcieć robić w przyszłości.<br>
                    <h3><strong>Na jakich działaniach powinieneś się skupić?</strong></h3>
                    <i>Skala</i><br><br>
                    Jak duży jest ten problem? Jak bardzo wpływa na życie w krótkiej, a jak w długiej perspektywie?<br><br>
                    <i>Pominięcie</i><br><br>
                    Jak dużo zasobów jest już przeznaczonych na rozwiązanie danego problemu? Jak dobrze rozdzielone są te zasoby? 
                    Czy istnieje powód, aby przypuszczać, że rynki albo rządy nie rozwiążą tego problemu bez pomocy?<br><br>
                    <i>Rozwiązywalność</i><br><br>
                    Jak łatwo jest poczynić postępy w rozwiązywaniu tego problemu i jak łatwo jest monitorować rozwój? 
                    Czy istnieją jakieś działania wspomagające rozwiązywanie problemu i jeśli tak, to jak silne są przesłanki do tych działań. 
                    Czy przewidujesz, że będziesz w stanie odkryć nowe obiecujące drogi rozwoju?<br><br>
                    <i>Osobiste dopasowanie</i><br><br>
                    Mając Twoje zdolności, zasoby, wiedzę, kontakty i pasje, jak prawdopodobne jest, że będziesz miał istotny wpływ na daną dziedzinę?


                </p>

                </article>
            </div>

        </div>
    </div>
</section>

{% endblock content %}
