{% extends "blog.html" %}

{% block content %}

<section class="article-wrapper border-bottom">
    <div class="page-container">
        <div class="row">

            <div class="col-12 col-md-8 order-md-1">
                <article class="article">
                    <h2 class="border-bottom d-inline-block">Myśl jak efektywny altruista</h2>
                    <h3><strong>5 kluczowych pytań efektywnego altruizmu</strong></h3> 
                  <p>Jak wielu ludzi odnosi korzyść i w jakim stopniu?<br><br>
                      Tak jak James Orbinski, doktor, który brał udział w selekcji medycznej podczas ludobójstwa w Rwandzie, 
                      musimy podejmować trudne decyzje dotyczące tego komu pomagamy a komu nie. To wymaga zastanowienia się, 
                      jak duże będą korzyści zapewnione przez różne działania. Wskaźnik <a href="http://www.wikiwand.com/pl/QALY" target="_blank">QALY</a> (z ang. quality-adjusted life year), 
                      czyli liczba lat życia skorygowana jego jakością, pozwala na porównanie wpływu jaki mają poszczególne programy zdrowotne.<br><br>
                      Czy jest to najbardziej efektywna rzecz, którą możesz zrobić?<br><br>
                      Zdecydowanie najlepsze programy zdrowotne i edukacyjne są setki razy lepsze niż “po prostu” bardzo dobre programy. 
                      Likwidacja ospy sprawiła tyle dobra, że samo to pokazuje, że pomoc krajom rozwijającym się jest na ogół wysoce opłacalna.<br><br>
                      Czy ten obszar jest pomijany?<br><br>
                      Na klęski żywiołowe przeznacza się znacznie więcej funduszy niż na bieżące problemy związane ze śmiercią i cierpieniem, 
                      jak na przykład choroby. Z tego powodu, pomoc w przypadku klęsk żywiołowych nie jest najefektywniejszym sposobem wydatkowania pieniędzy. 
                      Ponadto, choroby takie jak malaria, które dotykają ludzi w krajach rozwijających się, są znacznie mniej finansowane niż schorzenia takie jak nowotwory. 
                      Z tego powodu, o wiele większy wpływ ma się lecząc ludzi z malarii niż lecząc ich z nowotworów.<br><br>
                      Co stałoby się w przeciwnym razie?<br><br>
                      Po udziale w programie Scared Straight, młodzi ludzie byli skłonni popełniać przestępstwa częściej niż w przypadku, gdyby nie brali w nim udziału; 
                      tak więc, ogólnie rzecz biorąc, program ten przyniósł więcej szkody niż pożytku. W pewnych zawodach, takich jak lekarz, czasami czyni się dobro, 
                      które i tak byłoby uczynione. Jednakże, w przypadku <a href="http://www.wikiwand.com/en/Earning_to_give" target="_blank">zarabiania by dawać</a> 
                      (z ang. earning to give) dokonuje się zmian, które w przeciwnym razie nie miałyby miejsca.<br><br>
                      Jakie są szanse na sukces i jak duży by on był?<br><br>
                      Niektóre działania, takie jak głosowanie, angażowanie się w politykę, popieranie zmian systemowych lub zmniejszanie ryzyka katastrof globalnych, 
                      są efektywne nie dlatego, że mają szansę coś zmienić, ale dlatego, że jeśli coś zmienią, to ich wpływ będzie ogromny.<br>
                    <h3><strong>Której organizacji charytatywnej powinno się przekazać darowiznę?</strong></h3>
                      
                      </p>

                </article>
            </div>

        </div>
    </div>
</section>

{% endblock content %}
