/*------------------------------------*\
    #BLOG-LIST PAGE
\*------------------------------------*/

.blog-list {
  h2 a {
    color: $text-color;
  }

  h2 a:hover {
    color: $accent;
    text-decoration: none;
  }
}
