{% extends "layout.html" %}

{% set page = 'blog' %}

{% block content %}

<section class="section-padding-top text-center text-md-left">

    <article class="background border-bottom ">
        <div class="container-fluid page-container">
            <div class="row section section__border section__border--first">
                <div class="col-12 col-md-10">
                    <h2 class="border-bottom d-inline-block"><a href="blog/post-1.html">Post 2</a></h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan dui quis dictum placerat. Ut sed fringilla massa, sed congue nulla. Vestibulum a dignissim sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque eros elit, hendrerit quis est eget, vulputate vulputate lacus. Nam sed accumsan est, at auctor orci. Aenean imperdiet consequat efficitur. Quisque aliquam faucibus magna. Nam at ligula ipsum. Nam vitae nibh placerat diam maximus sollicitudin nec non metus. Ut sed tortor facilisis, elementum felis non, feugiat ex. Aenean eget elit urna. Sed tincidunt dictum lorem id varius. Donec justo urna, rutrum ac justo sed, malesuada molestie sapien.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <article class="border-bottom">
        <div class="container-fluid page-container">
            <div class="row section section__border">
                <div class="col-12 col-md-10">
                    <h2 class="border-bottom d-inline-block"><a href="blog/post-2.html">Post 2</a></h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan dui quis dictum placerat. Ut sed fringilla massa, sed congue nulla. Vestibulum a dignissim sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque eros elit, hendrerit quis est eget, vulputate vulputate lacus. Nam sed accumsan est, at auctor orci. Aenean imperdiet consequat efficitur. Quisque aliquam faucibus magna. Nam at ligula ipsum. Nam vitae nibh placerat diam maximus sollicitudin nec non metus. Ut sed tortor facilisis, elementum felis non, feugiat ex. Aenean eget elit urna. Sed tincidunt dictum lorem id varius. Donec justo urna, rutrum ac justo sed, malesuada molestie sapien.
                    </p>
                </div>
            </div>
        </div>
    </article>

</section>


{% endblock content %}
