{% extends "layout.html" %}

{% block content %}

<section class="article-wrapper border-bottom text-center text-md-left">
    <div class="page-container">
        <div class="row">
            <div class="col-12 col-md-4 order-md-2">
                <aside class="article-sidebar" id="article-sidebar">
                    <div class="background article-sidebar__inner">
                        <h4 class="border-bottom d-inline-block">Czym jest <strong>Efektywny Altruizm?</strong></h4>

                        <ul class="list-unstyled article-sidebar__menu">
                            <li><a href="#heading1">Twoje możliwości</a></li>
                            <li><a href="#heading2">Który obszar?</a></li>
                            <li><a href="#heading3">Jaka ścieżka kariery?</a></li>
                            <li><a href="#heading4">Która organizacja charytatywna?</a></li>
                            <li><a href="#heading5">Zaangażuj się</a></li>
                            <li><a href="#heading6">Dowiedz się więcej</a></li>
                            
                        </ul>
                    </div>
                </aside>
            </div>

            <div class="col-12 col-md-8 order-md-1">
                <article class="article">
                    <h2 class="border-bottom d-inline-block">Czym jest <strong>Efektywny Altruizm?</strong></h2>

                    <p>Większość z nas chce mieć wpływ na zmianę świata. Widzimy cierpienie, niesprawiedliwość i 
                        śmierć i jesteśmy zmotywowani, żeby coś z tym zrobić. Ale już samo ustalenie czym jest to 
                        “coś”, a co dopiero robienie tego, stanowi trudny problem.
                        <br><br>Które działania powinieneś wspierać, jeśli naprawdę chcesz mieć wpływ na dokonywanie zmian? 
                        Które ścieżki kariery pomogą ci mieć istotny wpływ? Które organizacje charytatywne zagospodarują 
                        Twoją darowiznę w sposób najbardziej efektywny? Jeśli nie wybierzesz dobrze, ryzykujesz utratę czasu i pieniędzy.
                        Jeśli jednak wybierzesz mądrze, masz ogromną szansę na zmianę świata na lepsze.<br><br>Ten tekst jest 
                        wprowadzeniem do efektywnego altruizmu —  używania wysokiej jakości badań naukowych i uważnego 
                        rozumowania w celu wypracowania najlepszych możliwych sposobów pomagania innym. Efektywny altruizm 
                        ma na celu pomoc w ustaleniu, w jaki sposób możesz uczynić jak najwięcej dobra oraz ułatwienie Ci podjęcia decyzji, 
                        na których obszarach powinieneś się skupić i w jaki sposób użyć swoich pieniędzy lub czasu, abyś zaczął dokonywać 
                        zmian na świecie od zaraz.</p>

                    <h2 id="heading1">Twoje możliwości</h2>

                    <p><strong>Masz wyjątkowe możliwości, aby czynić dobro</strong><br><br>
                        Patrząc w przeszłość, 
                        można znaleźć wiele przykładów ludzi, których pozytywny wpływ na świat był ogromny.<br><br><a href="http://historysheroes.e2bn.org/hero/4332" target="_blank">Irena Sendlerowa</a> uratowała w 
                        trakcie holokaustu 2500 żydowskich dzieci poprzez zapewnienie im fałszywych dokumentów tożsamości oraz pomoc w wydostaniu 
                        się z warszawskiego getta. Badania <a href="https://www.theatlantic.com/magazine/archive/1997/01/forgotten-benefactor-of-humanity/306101/" target="_blank">Normana Borlauga</a> nad nową odmianą pszenicy odporną na choroby zapoczątkowały tzw. 
                        “zieloną rewolucję”, dzięki czemu można mu przypisać zasługę uratowania życia setkom milionów osób. <a href="http://www.bbc.com/news/world-europe-24280831" target="_blank"> Stanislav Petrov</a> 
                        zapobiegł wybuchowi globalnej wojny nuklearnej, dzięki zachowaniu spokoju i trzeźwości umysłu pod presją i postąpieniu 
                        wbrew przyjętym procedurom.<br><br>
                        Ci ludzie mogą wydawać się bohaterami, z którymi ciężko się nam identyfikować i którzy byli 
                        wyjątkowo odważni lub utalentowani, lub po prostu byli w odpowiednim miejscu w odpowiednim czasie. 
                        Ale Ty też możesz mieć olbrzymi pozytywny wpływ na świat, jeśli tylko mądrze wybierzesz.<br><br>
                        Najłatwiej to zobaczyć patrząc na wpływ, jaki mogą mieć Twoje pieniądze. Jeśli czytasz ten tekst, to znaczy, 
                        że prawdopodobnie jesteś zadziwiająco bogaty w kontekście globalnym. Zgadnij jak bardzo jesteś bogaty według 
                        standardów światowych, a potem zrób <a href="https://www.givingwhatwecan.org/get-involved/how-rich-am-i/" target="_blank">ten test</a>
                        , aby zobaczyć, jak jest naprawdę.<br><br>
                        Na przykład, jeśli Twoje dochody są w okolicach <a href="http://www.wikiwand.com/en/Household_income_in_the_United_States" target="_blank">średniej krajowej w USA i jeśli będziesz co roku przekazywać 
                        <a href="https://www.givingwhatwecan.org/pledge/" target="_blank">10% 
                            swoich zarobków</a> organizacji Against Malaria Foundation, to w ciągu swojego życia prawdopodobnie uratujesz dziesiątki 
                        istnień.<br>To jest tak zaskakujący fakt, że ciężko go docenić. Wyobraź sobie, że pewnego dnia widzisz palący się budynek, 
                            wyważasz drzwi, wbiegasz do środka i ratujesz małe dziecko. Czułbyś się jak bohater — to byłby jeden z najważniejszych 
                            dni Twojego życia. Badania naukowe dowodzą, że faktycznie masz możliwość uratować kogoś od śmierci, a nawet robić to co 
                            rok albo dwa do końca Twojego życia zawodowego. Co więcej, oprócz tego są jeszcze długoterminowe korzyści płynące z Twoich działań. 
                            Dzięki temu, że Irena Sendler uratowała tamte żydowskie dzieci, w tej chwili żyją całe pokolenia ludzi. 
                            Podobnie, gdy pomożesz ubogim ludziom teraz, przynosisz korzyści dla całej społeczności przez całe dekady.<br><br>
                            Na dodatek Twoje możliwości pozytywnego wpływania na świat nie są ograniczone wyłącznie do pieniędzy. 
                            Oprócz bycia jednym z najbogatszych ludzi na świecie, jesteś też zapewne wśród najlepiej wykształconych i 
                            wykwalifikowanych osób. W zasadzie, prawdopodobnie możesz uczynić więcej dobra poświęcając swój czas niż przekazując 
                            pieniądze. <a href="https://www.effectivealtruism.org/people/lincoln-quirk/" target="_blank">Lincoln Quirk</a>, zainspirowany ideą efektywnego altruizmu, 
                            współzałożył <a href="https://www.wave.com" target="_blank">Wave</a>  — firmę, której misją jest 
                            umożliwienie przepływu dodatkowych setek milionów dolarów do biednych krajów.<br><br>
                            <strong>Wiele prób czynienia dobra nie powodzi się, ale te najlepsze są naprawdę wyjątkowe</strong><br><br>
                            Skorzystanie z okazji, która jest nam dana, jest wyzwaniem. Jeśli nie przemyślimy uważnie w jaki sposób 
                            możemy czynić dobro, ryzykujemy utratę czasu i pieniędzy, robiąc rzeczy, które tak naprawdę nic nie zmieniają.<br><br>
                            Przeanalizujmy dość typową historię próby uczynienia dobra — <a href="http://www.playpumps.co.za/index.php/how-it-works/" target="_blank">PlayPump</a>.
                            Playpumps to urządzenia, które wyglądają bardzo podobnie do karuzeli, na których prawdopodobnie się bawiłeś będąc dzieckiem, 
                            i są zamontowane w krajach Afryki Południowej. Dzieci, bawiąc się na karuzeli, napędzają pompę, która ciągnie wodę z podziemnej 
                            warstwy wodonośnej — źródła czystej, świeżej wody. Woda jest gromadzona w zbiorniku, który jest oklejony reklamami, 
                            co zapewnia pokrycie kosztów przedsięwzięcia i wyjście na zero.<br><br>
                            Na pierwszy rzut oka pomysł zapewnienia sprzętu do zabawy dla dzieci i czystej wody dla wioski brzmi jak doskonałe rozwiązanie. 
                            W pierwszych latach XXI wieku firmy takie jak Colgate i Ford, oraz celebryci tacy jak Jay-Z i Beyoncé, zainwestowali ogromne sumy pieniędzy, 
                            żeby wspomóc montowanie nowych pomp dla biednych, rolniczych społeczności. Bill Clinton nazwał to rozwiązanie “cudowną innowacją”.
                            <br><br>Jednakże, w rzeczywistości instalowanie pomp-karuzeli przez PlayPump było fatalnym pomysłem.<br><br>
                            Karuzele są świetną zabawą, bo kręcą się, kiedy tylko się na nie wskakuje. Opór stawiany przez pompę wodną sprawiał, 
                            że kręcenie Playpump wymagało ciągłego wysiłku. Element zabawy został praktycznie usunięty, więc coś, co miało zapewniać dzieciom rozrywkę, 
                            było bliższe zatrudnianiu ich do pracy. Obracanie karuzeli przypadło starszym kobietom z wioski, co było dla nich wysoce poniżającym zadaniem. 
                            Czasami dzieci dostawały pieniądze za to, żeby nie szły do szkoły i zamiast tego obracały pompę. Firmy nie decydowały się na umieszczanie reklam 
                            na zbiornikach i w rezultacie, zamiast się samofinansować, system był bardzo kosztowny (około $14,000, przy czym zwykła pompa ręczna kosztuje około $3,000). 
                            Co więcej, pompy nie były nawet wydajne: żeby zapewnić wiosce wystarczającą dzienną ilość wody, karuzela musiałaby być obracana przez 27 godzin dziennie.<br><br>
                            Przykład PlayPump pokazujący, że czynienie dobra nie zawsze wychodzi tak jak miało, nie należy jednak do rzadkości. 
                            W <a href="https://drive.google.com/file/d/0B4kMPIEI5Mb8NHdKT19Wc012aFE/view" target="_blank">badaniu</a> dotyczącym Szkotów, którzy organizowali sponsorowane skoki ze spadochronem w celu zebrania funduszy na organizacje charytatywne, 
                            autorzy zauważyli, że w związku z tym, że uczestnicy skaczący po raz pierwszy w życiu odnieśli dużo obrażeń, za każdego zebranego funta (głównie na organizacje medyczne) 
                            krajowa służba zdrowia poniosła koszt 13 funtów. <a href="https://www.campbellcollaboration.org/library/juvenile-delinquency-scared-straight-etc-programmes.html" target="_blank">Badania</a> dotyczące Scared Straight, 
                            wciąż cieszącego się popularnością programu, w którym próbuje się 
                            zniechęcić nieletnich przestępców do kontynuacji życia kryminalnego poprzez zabieranie ich na wycieczki do więzień, pokazały, że program wpływa na podwyższenie 
                            wskaźników przestępczości. Jeden z think tanków <a href="http://www.wsipp.wa.gov/ReportFile/881/Wsipp_Benefits-and-Costs-of-Prevention-and-Early-Intervention-Programs-for-Youth_Summary-Report.pd" target="_blank">oszacował</a>, 
                            że z tego powodu każdy dolar wydany na program kosztuje społeczeństwo ponad 200 dolarów. Z <a href="http://evidencebasedprograms.org/wp-content/uploads/2014/05/Practical-Evaluation-Strategies-2013.pdf" target="_blank">kolejnego badania</a> wynika, 
                            że tak naprawdę większość interwencji okazuje się mieć słaby wpływ, lub nie mieć żadnego, gdy przeprowadzi się ich dokładną analizę.
                           <br>
                            W większości obszarów naszego życia rozumiemy, że przy podejmowaniu decyzji ważne jest kierowanie się wiarygodnymi informacjami i rozumem, 
                            a nie domysłami lub przeczuciami.<br>Gdy potrzebujemy pomocy medycznej, wybieramy sposoby leczenia, których skuteczność została potwierdzona naukowo. 
                            Gdy inwestujemy pieniądze, staramy się dowiedzieć jak najwięcej o wszystkich możliwościach, żeby wybrać taką, która przyniesie nam największe korzyści. 
                            Gdy kupujemy jakiś produkt, czytamy opinie wystawiane przez kupujących, żeby dowiedzieć się, czy to, co zamierzamy nabyć, faktycznie działa tak jak tego oczekujemy.<br><br>
                            Jednakże, jeśli chodzi o czynienie dobra, zapominamy o naszych standardach. Przekazujemy pieniądze organizacjom charytatywnym tylko dlatego, że ktoś podszedł do nas na ulicy, 
                            a nigdy nie dowiadujemy się, jak nasze pieniądze zostały wykorzystane. Jesteśmy wolontariuszami w organizacjach, bo są lokalne, a nie dlatego, że są efektywne. Kupujemy produkty “etyczne”, 
                            bo są oznaczone pewnymi etykietami, bez wgłębiania się w to, co one faktycznie oznaczają.<br>W rezultacie, dobre intencje są często zmarnowane, bo ludzie używają swojego czasu i pieniędzy 
                            na wspieranie celów, które przynoszą stosunkowo małe korzyści.<br><br>
                            Aby upewnić się, że czynimy najwięcej dobra jak się da, powinniśmy porównywać koszty i korzyści różnych działań. Weźmy na przykład <a href="https://www.theguardian.com/media/2007/jan/03/broadcasting.schoolsworldwide" target="_blank">szkołę za 40 milionów 
                            dolarów założoną w 2007 roku w Afryce Południowej przez dziennikarkę telewizyjną Oprah Winfrey</a>. Rzeczywiście, może ona przynieść wspaniałe korzyści 150 młodym kobietom, 
                            które będą do niej zakwalifikowane. Z drugiej strony, <a href="https://www.buildon.org/take-action/build-a-school/" target="_blank">w pobliskiej Angoli można zbudować szkołę za 30.000 dolarów</a>. Oznacza to, że podobny wpływ do Oprah mogłaby mieć dobrze 
                            zorganizowana grupa dzieci szkolnych, która przeprowadziłaby zbiórkę pieniędzy. Co więcej, Oprah za te same pieniądze mogłaby ufundować ponad tysiąc szkół i tym samym umożliwić dostęp do edukacji dziesiątkom tysięcy młodych ludzi.
                            <br>Ofiarowanie 40 milionów dolarów samo w sobie wydaje się bardzo hojnym datkiem. Jednakże, biorąc pod uwagę wszystkie inne działania, które umożliwiłaby taka suma pieniędzy, wydaje się to straconą szansą.<br><br>
                            Oczywiście, łatwo jest powoływać się na ekscesy celebrytów, ale tak naprawdę każdy z nas mierzy się z podobnymi wyborami, gdy decyduje, w jaki sposób chce pomóc. Powinniśmy upewnić się, że nie przegapiamy swojej szansy, 
                            poświęcając czas i pieniądze na projekty, które są mniej opłacalne niż najlepsze dostępne opcje.<br><br>
                            Ekonomiści rozwojowi z Poverty Action Lab w Massachusetts Institute of Technology (MIT) wykazali, że wiele programów nic nie robi (np. te, które mają na celu zwiększenie frekwencji w szkołach), 
                            a wśród tych, które mają jakikolwiek mierzalne pozytywne efekty, <a href="https://www.povertyactionlab.org/policy-lessons/education/improving-student-participation" target="_blank">najlepsze programy mają ponad dziesięciokrotnie wyższy wpływ niż średnie.</a>
                            <br>Porównywanie różnych metod czynienia dobra jest trudne, zarówno w sensie emocjonalnym, jak i praktycznym. Jednakże, takie zestawienia są niezbędne do zapewnienia, że pomagamy innym w najlepszy możliwy sposób. 
                            Przy porównywaniu najważniejszy jest nasz wybór obszaru, w których chcemy czynić dobro.
                        </p>

                    <h3 id="heading2">Który obszar?</h3>

                    <p>Świat staje się coraz bardziej spokojny i zamożny. Mimo że przekazy mediowe skupiają się głównie na negatywnych wydarzeniach, to faktycznie świat staje się bezpieczniejszy, 
                       ludzie żyją coraz dłużej i są coraz zdrowsi, a możliwości dostępne dla przeciętnej osoby zwiększają się z każdym dniem. Te zmiany pokazują nam, że znaczne ulepszenia jakości naszego 
                       życia są możliwe, a czasem następują gwałtownie.<br><br>
                       Dotychczasowe wspólne wysiłki w kierunku poprawy świata przyniosły fenomenalne sukcesy. Przyjrzyjmy się tylko kilku przykładom. Liczba osób żyjących poniżej granicy biedy 
                       (według Banku Światowego)<a href="https://data.worldbank.org/indicator/SI.POV.DDAY" target="_blank"> od 1990 roku zmniejszyła się o ponad połowę</a>, a liczba rocznych śmierci spowodowanych malarią od <a href="http://www.map.ox.ac.uk" target="_blank">2000 roku zmniejszyła się o połowę</a>. 
                       Przeżyliśmy Zimną Wojnę bez użycia ani jednej broni nuklearnej jako aktu agresji pomiędzy krajami. Przez ostatnie kilka stuleci obaliliśmy system niewolnictwa, drastycznie zmniejszyliśmy ucisk kobiet
                       i w wielu krajach zapewniliśmy akceptację i prawa osobom identyfikującym się jako homo-, bi-, trans- lub queer-seksualne.<br><br>
                       Ale wielu ludzi przegapiono. <a href="http://www.worldbank.org/en/topic/poverty/overview" target="_blank">Prawie 800 milionów ludzi żyje za mniej niż 2 dolary dziennie</a> (gdzie $2 oznacza kwotę równoważną temu, co można kupić za $2 w USA, czyli trochę więcej niż kilka torebek ryżu). 
                       Każdego dnia miliony ludzi umierają z powodu chorób, którym można zapobiec, takim jak niedożywienie, biegunka czy malaria. Poza tym, nasz dobrobyt i długowieczność również przynoszą ze sobą własne problemy. 
                       Industrializacja sektora rolniczego oznacza miliardy zwierząt w fermach przemysłowych żyjących w nieludzkich warunkach i następnie zarzynanych. Zmiana klimatu, walka o zasoby i innowacyjne nowe technologie 
                       mają szansę negatywnie wpłynąć na życie miliardów ludzi w przyszłości.<br><br>
                       Obszar, który zdecydujesz się wspierać, prawie na pewno będzie największym czynnikiem wpływającym na ilość dobra, którą będziesz w stanie uczynić. Jeśli wybierzesz obszar, w którym pomoc ogromnej liczbie 
                       ludzi nie jest możliwa, albo taki, w którym nie istnieje żaden dobry sposób na rozwiązanie problemu, to istotnie ograniczysz wpływ, który mógłbyś mieć.<br><br>
                       Wielu ludzi rozpoczyna działania z już wybranym obszarem. Powodem tego może być bliskie zetknięcie się z problemem, przeczytanie artykułu na jego temat albo posiadanie znajomego, który zbiera pieniądze na daną organizację.<br>
                       Ale jeśli będziemy wybierać obszar, tylko dlatego, że będzie on najistotniejszy dla nas, możemy przegapić najważniejsze problemy moralne naszych czasów.<a href="http://www.bbc.co.uk/history/historic_figures/wilberforce_william.shtml" target="_blank"> William Wilberforce</a> był jedną z kluczowych postaci 
                       związanych z ruchem na rzecz obalenia niewolnictwa w XVIII i XIX wieku. Wyobraź sobie, co by się stało, gdyby zamiast tego swoją energię i wpływ przeznaczył na walkę o prawa białych pracowników fabryki, 
                       bo akurat tym by się najbardziej pasjonował. Świat byłby teraz o wiele gorszym miejscem.<br><br>
                       Niestety, najczęściej ludzie nie chcą się skupiać na najważniejszych problemach. W konsekwencji, nawet jeśli czynią oni dobro, tracą oni okazję do posiadania wpływu na znacznie większą poprawę rzeczywistości.<br><br>
                       Rozważmy tylko jeden ze sposobów czynienia różnicy — przekazywanie darowizn.<br><br>
                       Co roku jako darowizny przekazywane są ogromne ilości pieniędzy. W samych tylko Stanach Zjednoczonych w 2015 <a href="https://www.philanthropy.com/article/Donations-Grow-4-to-373/236790" target="_blank">donacje sumowały się do 373 miliardów dolarów.</a> W Wielkiej Brytanii od darczyńców 
                       indywidualnych pochodziło <a href="http://www.npt-uk.org/philanthropic-resources/uk-charitable-giving-statistics" target="_blank">10 miliardów funtów darowizn</a> — suma porównywalna do ilości pieniędzy przeznaczanych przez Wielką Brytanię na zagraniczną pomoc humanitarną.<br><br>
                       Jednakże, większość z tych darczyńców wybierała pomoc w obrębie swoich własnych społeczności. Mimo że jest to zrozumiałe, że ludzie chcą czynić różnicę tam, gdzie mogą widzieć efekty swoich donacji, rezultatem jest to, 
                       że pieniądze otrzymują ludzie już zamożni, jak na światowe standardy, zamiast tych, którzy potrzebują ich najbardziej.<br><br>
                       Amerykański przedsiębiorca Marc Benioff, prezes Salesforce (internetowe oprogramowanie), <a href="https://www.ucsf.edu/news/2010/06/3318/benioff-announces-100-million-gift-build-new-childrens-hospital-missi" target="_blank">przekazał darowiznę w wysokości 100 milionów dolarów szpitalom dziecięcym</a> 
                       zlokalizowanym w San Francisco. Jest mało prawdopodobne, że dzięki temu szpitale te uratują o wiele więcej dzieci, gdyż służba zdrowia w USA i bez tego zapewnia bardzo wysoki poziom opieki, jak na światowe standardy. 
                       Ta sama darowizna, przekazana najbardziej efektywnym organizacjom charytatywnym działającym w ubogich krajach, uratowałaby tysiące istnień.<br><br>
                       Magnat filmowy David Geffen przekazał <a href="https://www.nytimes.com/2015/03/24/arts/music/how-david-geffens-100-million-lincoln-center-gift-came-together.html?_r=0" target="_blank">100 milionów dolarów na odrestaurowanie budynku opery w Lincoln Centre</a> i kolejne 
                       <a href="https://www.wsj.com/articles/museum-of-modern-art-announces-100-million-gift-from-david-geffen-1461261600" target="_blank">100 milionów dolarów na modernizację 
                       Muzeum Sztuki Współczesnej</a>, obu w Nowym Jorku. Chociaż te darowizny na pewno uatrakcyjnią budynki dla osób uczęszczających do muzeum lub teatru, łatwo zauważyć, że jest o wiele więcej dobra, które mogłoby zostać uczynione, 
                       gdyby te pieniądze zostały wydane na bardziej naglące potrzeby.<br><br>Niestety, znaczna część pokaźnych darowizn powtarza ten sam schemat. W rzeczywistości <a href="http://philanthropy.coutts.com/en/reports/2015/executive-summary.html" target="_blank">większość darowizn w wysokości ponad milion dolarów</a> trafia do bogatych krajów, 
                       a tylko 11% pieniędzy jest wysyłanych za granicę kraju.<br><br>
                       To nie tylko miliarderzy nie przekazują pieniędzy tak efektywnie jak by mogli. Z 390 miliardów dolarów przekazanych organizacjom charytatywnym w USA, 
                       <a href="https://www.charitynavigator.org/index.cfm/bay/content.view/cpid/42" target="_blank">zaledwie 6%</a> zostało przekazane organizacjom o charakterze międzynarodowym, 
                       a w 2014 tylko <a href="https://www.cafonline.org/docs/default-source/about-us-publications/caf-ukgiving2014" target="_blank">12% z 10 miliardów funtów</a> ofiarowanych przez indywidualnych dawców z Wielkiej Brytanii trafiło za granicę.<br><br>
                       To stracona szansa. Najlepsze okazje do czynienia różnicy są za granicą. Ilość dodatkowych pieniędzy potrzebnych na pokrycie światowego zapotrzebowania na moskitiery, 
                       które są <a href="https://www.givingwhatwecan.org/post/2015/12/bednets-have-prevented-450-million-cases-of-malaria/" target="_blank">niewiarygodnie efektywnym</a> sposobem na zapobieganie cierpieniu i śmierci z powodu malarii, 
                       jest oszacowana na około 200 milionów dolarów. Pieniądze z darowizn Davida Geffena dla organizacji kulturalnych byłyby w stanie pokryć ten deficyt.<br><br>
                       Ponadto, nie powinniśmy skupiać się tylko na darowiznach. Ta sama koncentracja na najważniejszych obszarach lokalnie, zamiast na najefektywniejszych gdzieś indziej na świecie, 
                       ma miejsce także w przypadku wyboru sposobu poświęcania swojego czasu.<br><br>
                       Jeśli chcesz dojść do tego, na którym obszarze powinieneś się skupić, ważne jest, abyś rozważył, dlaczego chcesz pomagać ludziom. Czy myślisz, że to, że ludzie cierpią i umierają z konkretnego powodu 
                       (jak rak, malaria, wojny) jest złe, czy raczej złe jest dla Ciebie każde cierpienie i  śmierć, nieważne z jakiego powodu? Większość ludzi po zastanowieniu zgodzi się, że jeśli chcemy polepszyć ludziom życie, 
                       nie powinno mieć znaczenia, co powoduje ich cierpienie, tylko ważne jest to, że cierpią.<br><br>
                       Będąc otwartym na pracę w różnych obszarach, jesteśmy w stanie kierować się tam, gdzie możemy wnieść największy wkład, bez zbyt wczesnego ograniczania swoich możliwości.
                    <h3><strong>Obiecujące obszary</strong></h3>
                    Jak więc możemy ustalić, na których obszarach powinniśmy się skupić? Według nas, użyteczny jest następujący model: obszary, które warto wspierać charakteryzują się tym, 
                    że mają ogromny wpływ (wpływają na życie wielu ludzi, w ogromnym stopniu), są łatwo rozwiązywalne (dodatkowe zasoby przyczynią się w dużym stopniu do rozwiązania problemów) i są zwykle pomijane (niewielu innych ludzi się nimi zajmuje).<br><br>
                    Na podstawie tego rozumowania, członkowie społeczności efektywnego altruizmu traktują kilka obszarów jako szczególnie ważne.<br><br>
                    Te wybory nie są nieodwołalne. One po prostu reprezentują najlepsze przypuszczenia, co do tego, gdzie możemy mieć największy wpływ, na podstawie aktualnie dostępnych danych. Jeśli pojawią się nowe dowody sugerujące, 
                    że inne obszary byłyby bardziej obiecujące, powinniśmy wtedy rozważyć skupienie się na nich.<br><br><strong>Walka z ubóstwem</strong><br><br>
                    <a href="http://iresearch.worldbank.org/PovcalNet/povDuplicateWB.aspx" target="_blank">700 milionów ludzi żyje za mniej niż 1,9 dolara na dzień</a>, co jest granicą ubóstwa według Banku Światowego. 
                    Choroby związane z ekstremalną biedą, takie jak malaria czy choroby przenoszone przez wodę, co roku zabijają miliony ludzi. Słabe odżywianie w krajach rozwijających się może prowadzić do zaburzeń zdolności poznawczych, wad wrodzonych czy zahamowania wzrostu.<br><br>
                    W wielu przypadkach cierpieniu można łatwo zapobiec lub można je załagodzić. Moskitiery zapobiegające malarii <a href="https://www.againstmalaria.com/DollarsPerNet.aspx" target="_blank">kosztują około 2,5 dolara za sztukę</a>. Z pomocą techniczną,<a href="https://www.givingwhatwecan.org/report/micronutrient-fortification/" target="_blank">
                    kraje mogą bardzo tanio wzbogacać podstawową żywność, jak na przykład mąkę, w istotne mikroelementy</a> (np. żelazo, jod i witaminy). Leczenie dziecka, które jest zarażone pasożytami kosztuje <a href="https://www.givewell.org/charities/schistosomiasis-control-initiative#Whatdoyougetforyourdollar" target="_blank">mniej niż 1,5 dolara.</a><br><br>
                    <a href="https://www.givewell.org/charities/DMI" target="_blank">Kampanie medialne, które wpływają na zmianę zachowania</a>, są obiecującą sposobem na polepszenie stanu zdrowia i jakości życia ludzi i mogą istotnie poprawić efektywność innych usług prozdrowotnych. 
                    Natomiast <a href="https://www.givingwhatwecan.org/report/cash-transfers/" target="_blank">bezpośrednie przelewanie pieniędzy bardzo biednym ludziom</a> zapewnia wzmocnienie ekonomiczne i daje im większą kontrolę nad swoim życiem.<br><br>   
                    Polepszenie zdrowia nie tylko zapobiega bezpośredniemu cierpieniu związanemu z chorobami i śmiercią, ale również pozwala ludziom na bardziej czynny udział we własnej edukacji i w pracy, co w konsekwencji zapewnia więcej pieniędzy i lepsze szanse w życiu.<br><br>
                    <strong>Cierpienie zwierząt</strong><br><br>
                    Wiele osób związanych z efektywnym altruizmem uważa, że powinien przejmować nas los zwierząt nie-ludzi. W szczególności, rozwój zindustrializowanego rolnictwa oznacza, że co roku miliardy zwierząt są przetrzymywane w nieludzkich warunkach w fermach przemysłowych, 
                    a życie większości z nich kończy się przedwcześnie, gdy są mordowane, by zostać przerobionym na jedzenie. Obrońcy praw zwierząt <a href="https://animalcharityevaluators.org/donation-advice/why-farmed-animals/" target="_blank">argumentują</a>, że redukcja zapotrzebowania na mięso z ferm przemysłowych albo wprowadzenie zmian w prawie, 
                    które polepszą jakość życia zwierząt hodowlanych, są relatywnie tanie, i że postępy w tej kwestii mogą zapobiec ogromnej ilości cierpienia, w związku z olbrzymią liczbą zwierząt, której to dotyczy.<br><br>
                    <strong>Przyszłość ludzkości</strong><br><br>
                    Jeśli wierzymy, że mamy obowiązek moralny, by troszczyć się o ludzi, którzy obecnie istnieją, ale żyją w innych częściach świata (czyli tych, od których dzieli nas przestrzeń), to, według wielu osób, powinniśmy się również przejmować losem przyszłych pokoleń ludzi (czyli tych, od których dzieli nas czas).<br><br>
                    Liczba ludzi, którzy mogą istnieć w przyszłości, jest astronomiczna. W związku z tym, zapewnienie kontynuacji rasy ludzkiej i jej długoterminowej korzystnej przyszłości wydaje się bardzo ważne.<br><br>
                    Jednakże, istnieje wiele wydarzeń, przez które możemy stracić szansę na pozytywną długotrwałą przyszłość. Zmiana klimatu i wojna atomowa są dobrze nam znanymi zagrożeniami dla przetrwania naszego gatunku, a pojawiające się technologie, takie jak geoinżynieria i tworzenie nieznanych dotąd patogenów stanowią nowe 
                    i co najmniej tak samo duże niebezpieczeństwo. Ponadto, inne technologie, które będą rozwijane w najbliższych dekadach, takie jak sztuczna inteligencja, mają szansę radykalnie wpłynąć na kierunek ludzkiego rozwoju przez kolejne stulecia. Wiele osób związanych z efektywnym altruizmem skupia się więc na zapewnianiu 
                    możliwości korzystania z zalet tych nowych technologii przy jednoczesnym uniknięciu ryzyka.<br><br>
                    <strong>Inne obszary</strong><br><br>
                    Istnieje wiele innych obiecujących obszarów, nie będących w tej chwili priorytetami dla ruchu efektywnego altruizmu, które są mają potencjalnie duży wpływ. Są nimi:<br>
                    - Fundamentalne badania naukowe<br>
- Poprawienie założeń w nauce, np. większa przejrzystość i powtarzalność wyników<br>
- Badania dotyczące zdrowia psychicznego i zaburzeń neurologicznych, w szczególności depresji i lęku, oraz ułatwienie dostępu do leczenia w krajach rozwijających się<br>
- Badania dotyczące przyczyn i leczenia nowotworów<br>
- Zapobieganie zmianom klimatycznym lub ich łagodzenie<br>
- Zapobieganie paleniu tytoniu<br>
- Zapobieganie wypadkom drogowym<br>
- Reforma wymiaru sprawiedliwości w USA<br>
- Reforma dotycząca międzynarodowej migracji i polityki handlowe<br><br>
                    Oczywiście, mogliśmy ominąć niektóre bardzo ważne obszary. Jednym ze sposobów na posiadanie ogromnego wkładu jest znalezienie okazji na czynienie dobra, które może mieć duży wpływ, ale o którym zapomnieli inni.<br><br>
                    W <a href="https://www.openphilanthropy.org" target="_blank">Open Philanthropy Project</a> przebadano szereg różnych obszarów w celu zdeterminowania, które z nich zapewniają najlepsze szanse na duży wpływ (zauważ, że najlepsze obszary będą różniły się między poszczególnymi osobami, 
                    w zależności od ich umiejętności i okoliczności). Obecnie na czele znajdują się m.in. zdrowie i rozwój na świecie, badania naukowe, dobrobyt zwierząt hodowlanych, reforma wymiaru sprawiedliwości w USA, biobezpieczeństwo i sztuczna inteligencja.<br><br>
                    Jeśli chcesz dowiedzieć się więcej o wiążących się z tym decyzjach, stworzyliśmy <a href="https://www.effectivealtruism.org/cause-prioritization-tool/" target="_blank">narzędzie do priorytetyzowania obszarów</a>, które pomoże Ci zdecydować, na którym obszarze się skupić.</p>
                    <h3 id="heading3">Jaka ścieżka kariery?</h3> 
                    <p>Dla większości z nas, istotny odsetek naszego całego produktywnego życia — ponad 80.000 godzin — spędzamy w pracy. To ogromny zasób, który może przyczynić się do zmiany świata na lepsze.<br><br>
                       Zwykle typowe “etyczne” rady dotyczące kariery są zbyt zawężone. Najczęstsza rada to po prostu praca w sektorze non-profit: ale wiele organizacji non-profit nie jest efektywnych, skupiają się na niewłaściwych 
                       obszarach lub nie będą w stanie zapewnić Ci umiejętności i doświadczenia potrzebnych do tego, abyś mógł mieć duży wpływ w przyszłości.<br><br>
                       Uważamy, że obiecującymi ścieżkami kariery są badania naukowe, działalność polityczna, przedsiębiorczość oraz praca dla wysoce efektywnych organizacji (zarówno for-profit jak i non-profit). 
                       Innym kierunkiem jest “zarabianie by dawać”, czyli celowy wybór kariery zapewniającej wysokie dochody, aby oddawać ich istotną część organizacjom charytatywnym. Czasami, jeśli cechujesz się umiejętnościami, które są pożądane na rynku pracy, będziesz w stanie 
                       sfinansować więcej pracy niż byłbyś w stanie wykonać samemu. Jeszcze jedną opcją, kompatybilną z niektórymi innymi, jest podejmowanie pracy w celu budowania umiejętności, doświadczenia, kwalifikacji oraz kontaktów, które pozwolą Ci mieć większy potencjał w przyszłości.<br><br>
                       W przeciwieństwie do darowizn, dopasowanie personalne w przypadku wyboru kariery jest bardzo istotne. Ale musimy do tego podejść w odpowiedni sposób. Standardowa rada, by “podążać za swoją pasją” <a href="https://80000hours.org/articles/dont-follow-your-passion/" target="_blank">często nie ma zbyt wiele sensu</a>, szczególnie jeśli Twoja pasja nie ma nic wspólnego 
                       z żadnym ważnym obszarem. Natomiast ważne jest, aby wybrać pracę, w której będziesz w stanie się wyróżnić. Pasja jest również mniej ważna niż Ci się wydaje — okazuje się, że <a href="https://80000hours.org/career-guide/job-satisfaction/" target="_blank">inne czynniki wpływają na Twoją satysfakcję znacznie bardziej</a>.<br><br>
                       <a href="https://80000hours.org" target="_blank">80.000 Hours</a> to organizacja, która zajmuje się doradzaniem ludziom, które ścieżki kariery pozwolą im uczynić najwięcej dobra. <a href="https://80000hours.org/career-guide/" target="_blank">Udostępniają przewodnik</a> po najważniejszych kwestiach istotnych przy wyborze kariery i 
                       <a href="https://80000hours.org/career-decision/" target="_blank">zbiór narzędzi</a>, które pomogą Ci podjąć decyzję, oraz przeprowadzili <a href="https://80000hours.org/research/" target="_blank">przegląd ogromnej liczby ścieżek kariery</a> z różnych dziedzin. 
                 </p>
                <h3 id="heading4">Która organizacja charytatywna?</h3><p>
                Jednym z najprostszych sposobów, w jaki osoba z rozwiniętego kraju może przyczynić się do poprawy świata, jest przekazywanie pieniędzy organizacjom, 
                które pracują nad rozwiązaniem najistotniejszych problemów. Dzielenie się pieniędzmi pozwala efektywnym organizacjom czynić więcej dobra i jest o wiele bardziej elastyczne niż dzielenie się czasem (np. poprzez wolontariat).<br><br>
                Jak wspomnieliśmy wyżej, większość nas nie zdaje sobie sprawy z tego, jak bardzo bogaci relatywnie jesteśmy. Osoba o średnich zarobkach w bogatym kraju ma szansę znajdować się w czołowych 5% ludności światowej o najwyższych dochodach i być około 20 razy bogatsza od przeciętnej osoby. 
                To relatywne bogactwo stanowi ogromną szansę na czynienie dobra, jeśli zostanie wykorzystane w efektywny sposób.
                <h3><strong>Efektywne darowizny</strong></h3>
                Niektóre organizacje związane z efektywnym altruizmem wyszukują najbardziej efektywne obszary do przekazywania darowizn, bazując swoje rekomendacje na rygorystycznych badaniach. Największą z nich jest <a href="https://www.givewell.org" target="_blank">GiveWell</a>, 
                która przeprowadza szczegółowe badania dotyczące obiecujących obszarów i organizacji, i rekomenduje takie, które są najlepszą szansą dla darczyńcy na posiadanie dużego wpływu.<br><br>
                Przekazywanie pieniędzy nie wymaga żadnych specjalnych umiejętności ani nie jest wpływowe tylko w przypadku, gdy darowizna jest bardzo wysoka. Podczas gdy posiadanie dużej ilości pieniędzy pozwala Ci ofiarować większą sumę, 
                to skupiając się na najlepszych organizacjach i obszarach możesz mieć uczynić dużo dobra nawet niewielką darowizną.<br><br>
                Wszystkie organizacje rekomendowane przez Give Well są związane ze zdrowiem i rozwojem na świecie. <a href="https://www.againstmalaria.com" target="_blank">Against Malaria Foundation</a> rozprowadza moskitiery chroniące dzieci przed malarią, <a href="https://www.givedirectly.org" target="_blank">
                GiveDirectly</a> przekazuje bezpośrednie przelewy pieniężne najuboższym osobom, a <a href="https://www.imperial.ac.uk/schistosomiasis-control-initiative" target="_blank">Schisostomiasis Control Initiative</a> i <a href="https://www.evidenceaction.org/dewormtheworld/" target="_blank">Deworm the World</a> leczą ludzi zarażonych pasożytami.<br><br>
                <a href="https://animalcharityevaluators.org" target="_blank">Animal Charity Evaluators</a> jest kolejną, jednakże znacznie mniejszą niż GiveWell,  organizacją wyszukującą najlepsze organizacje charytatywne, w tym przypadku prozwierzęce. Rekomendują <a href="http://www.animalequality.net" target="_blank">Animal Equality</a>, 
                <a href="http://www.mercyforanimals.org" target="_blank">Mercy for Animals</a> i <a href="https://thehumaneleague.org" target="_blank">The Human League</a>, które starają się zachęcić ludzi do zredukowania ilości spożywanego mięsa.<br><br>
                Niestety, w tej chwili nie istnieje organizacja, która rekomendowałaby typowym darczyńcom najlepsze organizacje zajmujące się naszą długoterminową przyszłością. 
                Organizacjami z tegoż obszaru, które są wspierane przez społeczność efektywnego altruizmu są <a href="https://www.fhi.ox.ac.uk" target="_blank">the Future of Humanity Institute</a>, 
                <a href="https://intelligence.org" target="_blank">the Machine Intelligence Research Institute</a>, <a href="https://www.coolearth.org" target="_blank">Cool Earth</a>, <a href="http://www.upmchealthsecurity.org" target="_blank">the UPMC Center for Health Security</a> i <a href="https://www.ploughshares.org" target="_blank">the Ploughshares Fund</a>.<br>
                <br><h3><strong>Zobowiązanie by dawać</strong></h3>
                Choć łatwo jest postanowić oddawać istotną sumę na potrzeby organizacji charytatywnych, to może nam być trudniej się tego faktycznie trzymać. Jednym ze sposobów, w jaki możemy się z tego rozliczać, jest publiczne zobowiązanie do przekazywania pieniędzy.<br><br>
                <a href="https://www.givingwhatwecan.org/pledge/" target="_blank">Giving What We Can oferuje podjęcie zobowiązania</a> do oddawania 10% swoich dochodów do końca życia organizacjom charytatywnych, które przyczynią się do największego postępu na świecie. <a href="https://www.thelifeyoucansave.org/take-the-pledge" target="_blank">The Life You Can Save oferuje podobne zobowiązanie</a>, 
                poczynając od oddawania 1% dochodów przez rok organizacjom walczącym ze skutkami ekstremalnego ubóstwa.</p>
            <h3 id="heading5">Zaangażuj się</h3>    
            <p>Efektywny altruizm jest zbiorem idei, ale idee same w sobie nic nie znaczą, jeśli nic się w związku z nimi nie robi.
               Społeczność ludzi, którzy traktują efektywny altruizm poważnie i wcielają go w życie, stale rośnie.
            <br><h3><strong>Społeczność</strong></h3>
            <a href="https://www.givingwhatwecan.org" target="_blank">Ponad 3.000 ludzi złożyło zobowiązanie</a> Giving What We Can do przekazywania 10% swoich zarobków w ciągu swojego życia na rzecz najbardziej efektywnych organizacji charytatywnych. 
            <a href="https://80000hours.org/about/impact/studies-of-career-change/" target="_blank">Setki ludzi</a> istotnie zmieniło swoją ścieżkę kariery w oparciu o efektywny altruizm. Poza tym, istnieje <a href="https://www.facebook.com/groups/effective.altruists/permalink/1092052397517783/" target="_blank">ponad sto lokalnych grup</a> powiązanych z efektywnym altruizmem.<br>
            <h3><strong>Zacznij działać</strong></h3>Jeśli zainspirowała Cię idea efektywnego altruizmu, istnieje wiele sposobów, żeby zacząć działać:<br><br>
            - Zobowiąż się do przekazywania <a href="https://www.givingwhatwecan.org/pledge/" target="_blank">10% swoich zarobków na cele charytatywne</a><br>
            - Przekaż darowiznę <a href="https://www.givewell.org/charities/top-charities" target="_blank">wysoce efektywnym organizacjom charytatywnym</a><br>
            - Wybierz dającą satysfakcję <a href="https://80000hours.org" target="_blank">ścieżkę kariery, która pomoże Ci czynić dobro</a><br>
            - <a href="https://www.eaglobal.org">Weź udział w konferencji efektywnego altruizmu</a><br><br> 
            Żeby dowiedzieć się więcej o tym, jak możesz krok po kroku zaangażować się w Efektywny Altruizm, przejdź do podstrony <a href="zacznij-dzialac.html" class="link"><strong>Zacznij działać</strong></a>.
         </p><h3 id="heading6">Dowiedz się więcej</h3><p>
            Jeśli chcesz bardziej zgłębić idee efektywnego altruizmu, powinieneś zwrócić uwagę na poniższą listę książek:<br>
            - William MacAskill, <a href="https://www.effectivealtruism.org/doing-good-better/" target="_blank">Doing Good Better. Effective altruism and how you can make a difference</a><br>
            - Benjamin Todd, <a href="https://80000hours.org/career-guide/" target="_blank">80,000 Hours. Find a fulfilling career that does good</a><br>
            - Peter Singer,  <a href="https://www.amazon.com/Most-Good-You-Can-Effective/dp/0300180276" target="_blank">The Most Good You Can Do. How effective altruism is changing ideas about living ethically</a><br>
            - Peter Singer, <a href="https://www.thelifeyoucansave.org/about-us/book" target="_blank">The Life You Can Save. Acting now to end world poverty</a><br>
            <h3><strong>Napisz do nas</strong></h3>
            Mimo że ruch efektywnego altruizmu istnieje już od jakiegoś czasu, ta strona jest nowa i nadal zbieramy informacje. Jeśli istnieje jakieś zagadnienie, o którym chciałbyś się dowiedzieć więcej i myślisz, że powinniśmy się nim zainteresować, napisz do nas.</p>

                
                </article>
            </div>


        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="js/sticky-sidebar.min.js"></script>
<script>
    var sidebar = new StickySidebar('#article-sidebar', {
        containerSelector: '.article-wrapper',
        innerWrapperSelector: '.article-sidebar__inner',
        topSpacing: 155,
        bottomSpacing: 20,
        minWidth: 576
    });
</script>
{% endblock scripts %}s
