{% extends "layout.html" %}

{% block content %}

<section class="article-wrapper border-bottom text-center text-md-left">
    <div class="page-container">
        <div class="row">
            <div class="col-12 col-md-4 order-md-2">
                <aside class="article-sidebar" id="article-sidebar">
                    <div class="background article-sidebar__inner">
                        <h4 class="border-bottom d-inline-block">Czym jest <strong>Efektywny Altruizm?</strong></h4>

                        <ul class="list-unstyled article-sidebar__menu">
                            <li><a href="#heading1">Heading 1</a></li>
                            <li><a href="#heading2">Heading 2</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

            <div class="col-12 col-md-8 order-md-1">
                <article class="article">
                    <h2 class="border-bottom d-inline-block">Czym jest <strong>Efektywny Altruizm?</strong></h2>

                    <p>Większość z nas chce mieć wpływ na zmianę świata. Widzimy cierpienie, niesprawiedliwość i 
                        śmierć i jesteśmy zmotywowani, żeby coś z tym zrobić. Ale już samo ustalenie czym jest to 
                        “coś”, a co dopiero robienie tego, stanowi trudny problem.
                        Które działania powinieneś wspierać, jeśli naprawdę chcesz mieć wpływ na dokonywanie zmian? 
                        Które ścieżki kariery pomogą ci mieć istotny wpływ? Które organizacje charytatywne zagospodarują 
                        Twoją darowiznę w sposób najbardziej efektywny? Jeśli nie wybierzesz dobrze, ryzykujesz utratę czasu i pieniędzy.
                        Jeśli jednak wybierzesz mądrze, masz ogromną szansę na zmianę świata na lepsze.</p>

                    <h3 id="heading1">Heading 1</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa
                        qui officia deserunt mollit anim id est laborum. </p>

                    <h3 id="heading2">Heading 2</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit
                        anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa
                        qui officia deserunt mollit anim id est laborum. </p>
                </article>
            </div>


        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="js/sticky-sidebar.min.js"></script>
<script>
    var sidebar = new StickySidebar('#article-sidebar', {
        containerSelector: '.article-wrapper',
        innerWrapperSelector: '.article-sidebar__inner',
        topSpacing: 155,
        bottomSpacing: 20,
        minWidth: 576
    });
</script>
{% endblock scripts %}s
