{% extends "layout.html" %}

{% block content %}

<section class="section homepage-title">
    <h1>Pomagamy Ci czynić <strong class="text-primary">więcej dobra.</strong></h1>
</section>

<section class="border-bottom  homepage-boxes homepage-boxes--first">
    <div class="page-container">
        <div class="row no-gutters">
            <article class="col-12 col-md-6 section-big background text-center homepage-box homepage-box--left">
                <h2>Czym jest <strong>Efektywny Altruizm?</strong> <br/> Jak<strong> działamy</strong> w Polsce?</h2>
                <a href="o-ruchu.html" class="button">Dowiedz się więcej</a>
            </article>

            <article class="col-12 col-md-6 section-big text-center homepage-box">
                <h2>Zobacz, jak <strong>bardzo</strong> możesz <br/><strong>pomóc</strong> innym</h2>
                <a href="https://www.givingwhatwecan.org/get-involved/how-rich-am-i/" target="_blank" class="button">Policz uratowane życia</a>
            </article>
        </div>
    </div>
</section>

<section class="border-bottom homepage-boxes homepage-boxes--second">
    <div class="page-container">
        <div class="row no-gutters align-self-center">
            <article class="col-12 col-md-6 section-big background text-center homepage-box homepage-box--left">
                <h2>Jak <strong>zacząć?</strong></h2>
                <a href="zacznij-dzialac.html" class="button">Zacznij działać</a>
            </article>

            <article class="col-12 col-md-6 section-big text-center homepage-box">
                <h2>Masz <strong>pytania?</strong></h2>
                <a href="napisz-do-nas.html" class="button">Napisz do nas</a>
            </article>

        </div>
    </div>
</section>

<section class="border-bottom homepage-boxes--empty">

</section>

{% endblock content %}
