{% extends "layout.html" %}

{% block content %}

<section class="section-padding-top border-bottom">
    <div class="background">
        <div class="container-fluid page-container">
            <div class="row section section__border section__border--first">
                <div class="col-12 text-center text-md-left">
                    <h2 class="border-bottom d-inline-block">Napisz do nas</h2>

                    <form class="text-left contact-form">
                        <div class="form-group">
                            <label for="name" class="control-label">Twoje imię i nazwisko</label>
                            <input type="text" id="name" class="form-control" placeholder="Marta Kowalska" required>
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">Adres email</label>
                            <input type="email" id="email" class="form-control" placeholder="marta@mail.com" required>
                        </div>

                        <div class="form-group">
                            <label for="message" class="control-label">Twoja wiadomość</label>
                            <textarea name="message" id="message" class="form-control" cols="30" rows="10" required
                                      placeholder="Piszę do Was, ponieważ jestem bardzo zainteresowana..."></textarea>
                        </div>

                        <div class="text-center text-md-right">
                            <button type="submit" class="button contact-form__button">Wyślij</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}