{% extends "layout.html" %}

{% set page = 'about' %}

{% block content %}

<section class="section-padding-top text-center text-md-left">

    <article class="background border-bottom ">
        <div class="container-fluid page-container">
            <div class="row section section__border section__border--first">
                <div class="col-12 col-md-6">
                    <h2 class="border-bottom d-inline-block">Czym jest <strong>Efektywny Altruizm?</strong></h2>
                    <p>Efektywny Altruizm to międzynarodowy ruch osób szukających odpowiedzi na pytanie: <strong>jak
                        przynieść światu najwięcej dobra wykorzystując ograniczone środki?</strong></p>
                </div>
                <div class="col-12 col-md-5 align-self-center text-center">
                    <a href="czym-jest-ea.html" class="button">Dowiedz się więcej</a>
                </div>
            </div>
        </div>
    </article>

    <article class="border-bottom">
        <div class="container-fluid page-container">
            <div class="row section section__border">
                <div class="col-12 col-md-6">
                    <h2 class="border-bottom d-inline-block">Jak <strong>działamy</strong> w Polsce?</h2>
                    <p>
                        Od 2014 roku jesteśmy aktywni w Warszawie, Krakowie i innych miastach akademickich w Polsce, 
                        a nasza społeczność rośnie każdego dnia. Współtworzą ją studenci, badacze, przedsiębiorcy, specjaliści IT, 
                        pracownicy publiczni, aktywiści społeczni, wszystkie osoby chcące wykorzystać swój potencjał do czynienia 
                        dobra w najlepszy znany sobie sposób.
                    </p>
                </div>
                <div class="col-12 col-md-5 align-self-center text-center">
                    <a href="polska-spolecznosc.html" class="button">Dowiedz się więcej</a>
                </div>
            </div>
        </div>
    </article>

</section>


{% endblock content %}
