{% extends "layout.html" %}

{% set page = 'community' %}

{% block content %}

<section class="section border-bottom background">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 col-md-9">
                <h2 class="border-bottom d-inline-block">Jak działamy w <strong>Polsce?</strong></h2>
                <div>
                    Jesteśmy polską filią międzynarodowej społeczności <a href=www.effectivealtruism.org>Effective Altruism</a>.
                    Łączymy współczucie z dowodzeniem, aby wytyczyć najskuteczniejsze drogi poprawy świata, a potem nimi podążyć.
                    We współpracy z oksfordzkim Centre for Effective Altruism, pracujemy nad dostarczaniem wartości
                    w trzech kluczowych obszarach:
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section projects">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12">
                <h2 class="border-bottom d-inline-block">Obszary</h2>
            </div>
            <div class="col-12 col-md-4">
                <div class="project">
                    <div class="project__header">Przepływ talentu</div>
                    Pomagamy efektywnym organizacjom  czynić więcej dobra zapełniając krytyczne luki talentowe.
                    Współpracujemy z <a href="https://80000hours.org/" target="_blank">80,000 Hours</a> nad
                    przygotowaniem kandydatów, prowadzimy spotkania tematyczne i warsztaty w obrębie racjonalności
                    stosowanej i efektywnego altruizmu.
                    <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
                    <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="project">
                    <div class="project__header">Przepływ środków</div>
                    Zapewniamy płynny przepływ darowizn pomiędzy organizacjami dobroczynnymi a darczyńcami w Polsce.
                    Ułatwiamy procedury podatkowe, doradzamy nieodpłatnie przy wyborze organizacji i obszarów w których
                    Twoje darowizny mogą zdziałać najwięcej.
                    <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
                    <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="project">
                    <div class="project__header">Wsparcie organizacji w regionie</div>
                    Pomagamy organizacjom w Polsce  rosnąć i zostać rozpoznanymi jako najefektywniejsze na podstawie
                    twardych dowodów wywodzących się z uważnej i transparentnej analizy danych.
                    <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
                    <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-team">
    <div class="show-more-less show-more js-toggle-section-team">
        Zobacz <span class="icon-arrow icon-arrow-down"></span> Więcej
    </div>
    <div class="show-more-less show-less js-toggle-section-team">
        Zobacz <span class="icon-arrow icon-arrow-up"></span> Mniej
    </div>
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12">
                <h2 class="border-bottom d-inline-block">Zaangażowani</h2>

                <div class="team">
                    <div class="person" onclick="void(0)">
                        <img src="images/karolina.jpg" class="person__img" alt="">
                        <div class="person__name">Karolina Sarek</div>

                        <div class="person__desc">Studentka psychologii stosowanej i wykładowca akademicki. Zawodowo i
                            hobbystycznie zajmuje się interakcją człowiek- komputer i sztuczną inteligencją. Aktywistka
                            Stowarzyszenia Otwarte Klatki.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/michalt.jpg" class="person__img" alt="">
                        <div class="person__name">Michał Trzęsimiech</div>

                        <div class="person__desc">Programista, budowniczy społeczności Effective Altruism i Less Wrong.
                            Absolwent warsztatów Center for Applied Rationality.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/aga.jpg" class="person__img" alt="">
                        <div class="person__name">Agnieszka Pisz</div>

                        <div class="person__desc">Projektantka usług i interakcji. Pragnie czynić jak najwięcej dobra,
                            projektując efektywne i sensowne rozwiązania oparte o naukowe dane i potrzeby ludzi. Uzależniona od muzyki i podróży.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/marcin.jpg" class="person__img" alt="">
                        <div class="person__name">Marcin Kowrygo</div>

                        <div class="person__desc">Neurobiolog, aktywista i popularyzator nauki,
                          założyciel GWWC Poland i redaktor serwisu Lucidologia. Interesuje się ulepszaniem funkcji poznawczych,
                            racjonalnością instrumentalną, AI i ryzykiem egzystencjalnym.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/justyna.jpg" class="person__img" alt="">
                        <div class="person__name">Justyna Ferenc</div>

                        <div class="person__desc">Absolwentka matematyki, zawodowo zajmuje się analizą danych.
                            Interesuje się psychologią, racjonalnością, czasem próbuje programować i lubi uczyć się języków obcych.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/marcinw.jpg" class="person__img" alt="">
                        <div class="person__name">Marcin Woźniak</div>

                        <div class="person__desc">Z wykształcenia prawnik i pasjonat sztucznej inteligencji. Projektuje systemy wyborcze, grafy argumentacyjne i szkolenia z udziałem osób niewidomych w Fundacji Optimum Pareto.
                        </div>
                    </div>

               		<div class="person" onclick="void(0)">
                        <img src="images/danielw.jpg" class="person__img" alt="">
                        <div class="person__name">Daniel Wyrzykowski</div>

                        <div class="person__desc">
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/marcint.jpg" class="person__img" alt="">
                        <div class="person__name">Marcin Tischner</div>

						<div class="person__desc">
						</div>
					</div>

                    <div class="person" onclick="void(0)">
                        <img src="images/marcinwo.jpg" class="person__img" alt="">
                        <div class="person__name">Marcin Wosinek</div>

                        <div class="person__desc">Programista, poliglota, kucharz. Korzystając ze swojej uprzywilejowanej sytuacji stara się pomóc w naprawianiu świata na lepsze, zanim wszystko się zawali.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section background text-center border-bottom join-us-section">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12">
                <h2><strong>Chcesz</strong> poświęcić swój czas i umiejętności by <strong>czynić więcej
                    dobra?</strong></h2>

                <div><a href="https://goo.gl/forms/26xocDPxoj8tRB5P2" target="_blank" class="button">Dołącz do nas</a></div>
            </div>
        </div>
    </div>
</section>

<section class="border-bottom">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 col-md-6 fb-events section">
                <h2 class="border-bottom d-inline-block">Wydarzenia</h2>
                <div class="row align-items-center">
                    <div class="col-8 col-md-9">
                        Obserwuj nasz profil na Facebook'u i bądź na bieżąco z wydarzeniami!
                    </div>
                    <div class="col-4 col-md-3">
                        <a href="https://www.facebook.com/ea.poland/" target="_blank" class="fb-logo">
                            <span class="icon-fb"><span class="path1"></span><span class="path2"></span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 section">
                <h2 class="border-bottom d-inline-block">Grupy dyskusyjne</h2>

                <ul class="list-unstyled fb-groups-list">
                    <li><a href="https://www.facebook.com/groups/eapoland/" target="_blank">Efektywny Altruizm (Ogólnopolska)</a></li>
                    <li><a href="https://www.facebook.com/groups/eawwa/" target="_blank">Efektywny Altruizm Warszawa</a></li>
                    <li><a href="https://www.facebook.com/groups/eakrakow/" target="_blank">Efektywny Altruizm Kraków</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section border-bottom">
    <div class="container-fluid page-container">
        <h2 class="border-bottom d-inline-block"><strong>Organizacje</strong> zaprzyjaźnione</h2>

        <div class="organizations">
            <a href="http://optimumpareto.pl" target="_blank" class="organization">
                <img src="images/pareto.png" class="organization__img" alt="Fundacja Optimum Pareto">
                Fundacja Optimum Pareto
            </a>

            <a href="http://www.otwarteklatki.pl" target="_blank" class="organization">
                <img src="images/otwarte-klatki.jpg" class="organization__img" alt="Otwarte Klatki">
                Otwarte Klatki
            </a>
        </div>
    </div>
</section>

{% endblock content %}
