{% extends "layout.html" %}

{% set page = 'community' %}

{% block content %}

<section class="section border-bottom background">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 col-md-9 text-center text-md-left">
                <h2 class="border-bottom d-inline-block">Jak działamy w <strong>Polsce?</strong></h2>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section projects">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 text-center text-md-left">
                <h2 class="border-bottom d-inline-block">Bieżące <strong>projekty</strong></h2>
            </div>

            <div class="col-12 col-md-4">
                <div class="project">
                    <div class="project__header">Projekt 1</div>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
                    <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
                    <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="project">
                    <div class="project__header">Projekt 2</div>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
                    <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
                    <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="project">
                    <div class="project__header">Projekt 3</div>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
                    <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
                    <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-team">
    <div class="show-more-less show-more js-toggle-section-team">
        Zobacz <span class="icon-arrow icon-arrow-down"></span> Więcej
    </div>
    <div class="show-more-less show-less js-toggle-section-team">
        Zobacz <span class="icon-arrow icon-arrow-up"></span> Mniej
    </div>
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 text-center text-md-left">
                <h2 class="border-bottom d-inline-block">Zaangażowani</h2>

                <div class="team">
                    <div class="person" onclick="void(0)">
                        <img src="images/karolina.jpg" class="person__img" alt="">
                        <div class="person__name">Karolina</div>

                        <div class="person__desc">Studentka psychologii stosowanej i wykładowca akademicki. Zawodowo i
                            hobbystycznie zajmuje się interakcją człowiek- komputer i sztuczną inteligencją. Aktywistka
                            Stowarzyszenia Otwarte Klatki.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/michal.jpg" class="person__img" alt="">
                        <div class="person__name">Michał</div>

                        <div class="person__desc">Współzałożyciel i opiekun społeczności Effective Altruism 
                            i Less Wrong w Polsce. Wolontariusz Centre for Effective Altruism. 
                            Absolwent warsztatów Center for Applied Rationality.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/aga.jpg" class="person__img" alt="">
                        <div class="person__name">Agnieszka</div>

                        <div class="person__desc">Projektantka usług i interakcji. Pragnie czynić jak najwięcej dobra, 
                            projektując efektywne i sensowne rozwiązania oparte o naukowe dane i potrzeby ludzi. Uzależniona od muzyki i podróży.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/marcin.jpg" class="person__img" alt="">
                        <div class="person__name">Marcin</div>

                        <div class="person__desc">Neurobiolog, aktywista i popularyzator nauki, 
                            założyciel GWWC Poland i redaktor serwisu Lucidologia. Interesuje się ulepszaniem funkcji poznawczych, 
                            racjonalnością instrumentalną, AI i ryzykiem egzystencjalnym.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/justyna.jpg" class="person__img" alt="">
                        <div class="person__name">Justyna</div>

                        <div class="person__desc">Absolwentka matematyki, zawodowo zajmuje się analizą danych. 
                            Interesuje się psychologią, racjonalnością, czasem próbuje programować i lubi uczyć się języków obcych.
                        </div>
                    </div>

                    <div class="person" onclick="void(0)">
                        <img src="images/marcinw.jpg" class="person__img" alt="">
                        <div class="person__name">Marcin</div>

                        <div class="person__desc">Programista, poliglota, kucharz. 
                            Korzystając ze swojej uprzywilejowanej sytuacji stara się pomóc w naprawianiu świata na lepsze, zanim wszystko się zawali.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section background text-center border-bottom join-us-section">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12">
                <h2><strong>Jesteś gotowy</strong> poświęcić swój czas i umiejętności by <strong>czynić więcej
                    dobra?</strong></h2>

                <div><a href="https://efektywnyaltruizm.typeform.com/to/vjGz02" target="_blank" class="button">Dołącz do nas</a></div>
            </div>
        </div>
    </div>
</section>

<section class="border-bottom">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 col-md-6 fb-events section">
                <h2 class="border-bottom d-inline-block">Wydarzenia</h2>
                <div class="row align-items-center">
                    <div class="col-8 col-md-9">
                        Obserwuj profil Efektywny Altruizm Polska na Facebook’u i bądź na bieżąco z wydarzeniami!
                    </div>
                    <div class="col-4 col-md-3">
                        <a href="https://www.facebook.com/ea.poland/" target="_blank" class="fb-logo">
                            <span class="icon-fb"><span class="path1"></span><span class="path2"></span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 section">
                <h2 class="border-bottom d-inline-block">Grupy dyskusyjne na fb</h2>

                <ul class="list-unstyled fb-groups-list">
                    <li><a href="https://www.facebook.com/groups/eawwa/" target="_blank">Grupa EA Warszawa</a></li>
                    <li><a href="https://www.facebook.com/groups/eakrakow/" target="_blank">Grupa EA Kraków</a></li>
                    <li><a href="https://www.facebook.com/groups/eapoland/" target="_blank">Grupa EA Ogólnopolska</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section border-bottom">
    <div class="container-fluid page-container">
        <h2 class="border-bottom d-inline-block"><strong>Organizacje</strong> zaprzyjaźnione</h2>

        <div class="organizations">
            <a href="http://optimumpareto.pl" target="_blank" class="organization">
                <img src="images/pareto.png" class="organization__img" alt="Fundacja Optimum Pareto">
                Fundacja Optimum Pareto
            </a>

            <a href="http://www.otwarteklatki.pl" target="_blank" class="organization">
                <img src="images/otwarte-klatki.jpg" class="organization__img" alt="Otwarte Klatki">
                Otwarte Klatki
            </a>
        </div>
    </div>
</section>

{% endblock content %}
