{% extends "layout.html" %}

{% set page = 'getInvolved' %}

{% block content %}

<section class="article-wrapper border-bottom">
    <div class="page-container">
        <div class="row">
            <div class="col-12 col-md-4 order-md-2">
                <aside class="article-sidebar text-center text-md-left" id="article-sidebar">
                    <div class="background article-sidebar__inner">
                        <h4 class="border-bottom d-inline-block"><strong>Zacznij działać</strong></h4>

                        <ul class="list-unstyled article-sidebar__menu">
                            <li><a href="#heading1">Zapoznaj się z podstawami</a></li>
                            <li><a href="#heading2">Przekaż ideę EA dalej</a></li>
                            <li><a href="#heading3">Poświęć swój czas</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

            <div class="col-12 col-md-8 order-md-1">
                <article class="article">
                    <h2 class="border-bottom d-inline-block">Zacznij działać</h2>

                    <p>Dopiero zapoznajesz się z ideą efektywnego altruizmu i chcesz dowiedzieć się od czego zacząć? 
                       A może jesteś już związany z EA i szukasz nowych zadań?<br><br>
                       Oto przewodnik po sposobach angażowania się w ruch efektywnego altruizmu.<br><br>
                     
                       Każdy opis zawiera następujące specyfikacje:<br><br>
                        <i>1. 	Zawód</i><br>	
                       Odnosi się do statusu zawodowego. “Uczniem” jest ktoś, kto spędza większość czasu w instytucji 
                       naukowej. “Pracownikiem” jest ktoś, kto większość czasu spędza w pracy zarobkowej. “Niepracującym” 
                       jest nazywany ktoś, kto nie spędza większości swojego czasu ani na nauce ani na pracy. Termin “Grupa” 
                       odnosi się do społeczności związanych lub sympatyzujących z ideą efektywnego altruizmu, składających się z uczniów, 
                       pracowników i/lub niepracujących.<br><br>
                        <i>2. 	Zaangażowanie czasowe</i><br>
                       Określa ile czasu zwykle zajmuje dana aktywność. “Godziny” oznacza 10 lub mniej godzin w tygodniu. 
                       “Pół etatu” oznacza około 10-20 godzin tygodniowo. “Pełny etat” oznacza 20 godzin tygodniowo lub więcej.<br><br>
                        <i>3. 	Czas trwania</i><br>
                       Oznacza okres czasu, w którym realizuje się daną aktywność. “Krótki” oznacza okres miesiąca lub krócej. 
                        “Średni” oznacza okres 1-6 miesięcy. “Długi” oznacza ponad 6 miesięcy, a nawet całe życie.<br><br>
                        <i>4. 	Znajomość idei EA</i><br>
                       Odnosi się do zrozumienia idei społeczności efektywnych altruistów (a nie wykonywania czynności, które są efektywne i altruistyczne). 
                       “Nowicjusz” oznacza kogoś, kto zna niewiele więcej niż podstawy ruchu EA i miałby problem z przedstawieniem argumentów stojących 
                        za wyborami obszarów, na których skupia się EA. “Zaawansowany” oznacza kogoś, kto dokładnie rozumie podstawy ruchu, ale miałby problem 
                        ze szczegółowym opisem filozoficznych i merytorycznych rozważań, na których bazuje podejmowanie decyzji w EA. “Ekspert” oznacza kogoś, 
                        kto wykazuje się rozległym zrozumieniem większości rozważań EA, do tego stopnia, że podczas dyskusji jest w stanie nawiązywać do mniej 
                        pospolitych dowodów i tworzyć własne argumenty. </p>

                    <h3 id="heading1">Zapoznaj się z podstawami</h3>

                    <p> <h3><strong>Poczytaj o efektywnym altruizmie</strong></h3>                    
                    <strong>Zawód</strong>: Uczeń, Pracujący, Niepracujący<br> <strong>Zaangażowanie czasowe</strong>: Godziny <br><strong>Czas trwania</strong>: Krótki, średni, długi
                    <br><strong>Znajomość idei Efektywnego Altruizmu</strong>: Nowicjusz, Zaawansowany<br><br>                 
                    Rozwiązywanie najważniejszych problemów na świecie wymaga oczywiście umiejętności, talentu i doświadczenia. Czasami lepiej jest, 
                    żeby osoby nowe w ruchu EA, zamiast od razu przekazywać darowizny czy zgłaszać się jako wolontariusze, zaczęły od doedukowania się w obszarze efektywnego 
                    altruizmu w teorii i praktyce. Dążenie do czynienia jak największej ilości dobra to więcej niż tylko szczere chęci - aby skutecznie zmaksymalizować swój wpływ, 
                    potrzeba uważnego rozumowania opartego na dowodach.<br><br>
                    Materiałów na ten temat jest mnóstwo, od czego więc zacząć?<br><br>
                    Na stronie effectivealtruism.org znajduje się <a href="https://www.effectivealtruism.org/resources/" target="_blank">lista artykułów</a> poruszających wiele podstawowych kwestii, a ponadto jest tam kilka filmików i lista książek, 
                    które pomogą rozeznać się w sytuacji. Jeśli zastanawiasz się, na których <a href="https://concepts.effectivealtruism.org/concepts/focus-area-recommendations/" target="_blank">obszarach</a> powinieneś się skupić, 
                    zapoznaj się z narzędziem do <a href="https://www.effectivealtruism.org/cause-prioritization-tool/" target="_blank">priorytetyzacji</a> i 
                    profilami obiecujących obszarów. Jeśli chcesz poświęcić swoją karierę dla celów EA, zapoznaj się z <a href="https://80000hours.org/career-guide/" target="_blank">przewodnikiem</a> przygotowanym przez 80,000 Hours, który 
                    zawiera wiele informacji nie tylko o wyborze kariery, ale również o powiązanych rozważaniach dotyczących EA. Jeśli chodzi o ustrukturyzowany wstęp do efektywnego altruizmu, 
                    to polecamy darmowy <a href="https://www.coursera.org/learn/altruism" target="_blank">kurs na Coursera</a> prowadzony przez Petera Singera.<br><br>
                    Jeśli jesteś już zapoznany z ideami EA, bardziej wartościowym rozwiązaniem dla Ciebie będzie przyłączenie się do dyskusji na <a href="http://effective-altruism.com" target="_blank">Effective Altruism Forum</a>, 
                    gdzie autorzy ze społeczności zgłębiają ważne rozważania w dziedzinach, w których mają kompetencje.<br><br>
                    Stali bywalcy społeczności EA mogą poszerzyć swojej opcje zaglądając na <a href="http://eablogs.net" target="_blank">blogi związane z EA</a>. Jeśli należysz do takich osób, 
                    możesz także samemu zostać autorem postów na EA Forum lub badaczem w powiązanej organizacji (czytaj o tym poniżej).<br><br>
                    
                    <h3><strong>Pytaj na forach eksperckich</strong></h3>
                    <strong>Zawód</strong>: Uczeń, Pracujący, Niepracujący<br> <strong>Zaangażowanie czasowe</strong>: Godziny <br><strong>Czas trwania</strong>: średni
                    <br><strong>Znajomość idei Efektywnego Altruizmu</strong>: Nowicjusz, Zaawansowany<br><br>
                    Masz dużo pytań związanych z efektywnym altruizmem? Zaznajomienie się ze wszystkimi dostępnymi materiałami na ten temat oraz znalezienie odpowiednich osób, 
                    które odpowiedzą na Twoje pytania, może być ciężkie. Jeśli masz taki problem, rozwiązaniem mogą być fora eksperckie.<br><br>
                    Rozważ napisanie na forach takich jak <a href="https://stackexchange.com/sites" target="_blank">StackExchange</a>, 
                    <a href="https://www.quora.com" target="_blank">Quora</a>, <a href="https://www.reddit.com/r/AskHistorians/" target="_blank">AskHistorians</a>, 
                    <a href="https://www.reddit.com/r/askscience/" target="_blank">AskScience</a>, czy <a href="https://www.reddit.com/r/changemyview/" target="_blank">ChangeMyView</a>
                    (<a href="https://www.quora.com/profile/Alex-K-Chen/questions" target="_blank">dobrze zadane pytania</a> to na przykład te od Alexa K. Chen na forum Quora). 
                    Jeśli dostaniesz dobre odpowiedzi, które mogą przydać się innym członkom EA, zestaw je w poście na blogu i udostępnij na <a href="http://effective-altruism.com" target="_blank">EA Forum</a>.<br><br>
                    
                    <h3><strong>Subskrybuj newsletter EA</strong></h3>
                    <strong>Zawód</strong>: Uczeń, Pracujący, Niepracujący<br> <strong>Zaangażowanie czasowe</strong>: Godziny <br><strong>Czas trwania</strong>: średni, długi
                    <br><strong>Znajomość idei Efektywnego Altruizmu</strong>: Nowicjusz, Zaawansowany<br><br>
                    Chcesz otrzymywać regularne wiadomości z interesującymi artykułami, wieściami z organizacji i ofertami pracy?
                    Aby otrzymywać comiesięczne informacje mailowo, zapisz się do <a href="https://eahub.org/newsletter" target="_blank">EA newsletter</a>. 
                    Żeby zaznajomić się z podstawowymi ideami niezbędnymi do myślenia jak efektywny altruista, 
                    wejdź na <a href="https://concepts.effectivealtruism.org" target="_blank">EA Concepts</a> (koncepty będziesz mógł co tydzień otrzymywać na skrzynkę mailową). 
                    Możesz również używać kanałów internetowych RSS takich jak <a href="https://blogtrottr.com" target="_blank">Blogtrottr</a>, aby otrzymywać maile, 
                    gdy pojawią się nowe posty na EA Forum (<a href="feed://effective-altruism.com/.rss" target="_blank">RSS</a>) czy na EA Blogs (<a href="feed://fetchrss.com/rss/589d19a28a93f88c6b8b456799635385451.xml" target="_blank">RSS</a>).

                    <h3><strong>Weź udział w EAGx lub wydarzeniu lokalnej grupy</strong></h3>
                    <strong>Zawód</strong>: Uczeń, Pracujący, Niepracujący<br> <strong>Zaangażowanie czasowe</strong>: Pół etatu <br><strong>Czas trwania</strong>: średni
                    <br><strong>Znajomość idei Efektywnego Altruizmu</strong>: Nowicjusz, Zaawansowany<br><br>                  
                    Jeśli jesteś podekscytowany efektywnym altruizmem i chciałbyś poznać inne takie osoby, weź udział w <a href="https://www.eaglobal.org/eagx/" target="_blank">EAGx</a> 
                    lub wydarzeniu <a href="https://www.facebook.com/groups/eapoland/" target="_blank">grupy w Twoim regionie</a>. 
                    Te wydarzenia są organizowane przez lokalne podgrupy, abyś mógł być wprowadzony w idee EA oraz zobaczył, jak wygląda środowisko EA od podszewki.<br><br>
                    Aby wziąć udział w takim wydarzeniu, sprawdź w zakładce <a href="polska-spolecznosc.html" class="link"><strong>Polska społeczność</strong></a>, do której 
                    lokalnej grupy możesz dołączyć na Facebooku i bądź na bieżąco z wydarzeniami, które są organizowane w najbliższym czasie.<br><br>
                    
                    <h3><strong>Weź udział w warsztacie racjonalności</strong></h3>
                    <strong>Zawód</strong>: Uczeń, Pracujący<br> <strong>Zaangażowanie czasowe</strong>: Cały etatu <br><strong>Czas trwania</strong>: długi
                    <br><strong>Znajomość idei Efektywnego Altruizmu</strong>: Nowicjusz, Zaawansowany, Ekspert<br><br>
                    Polepszanie świata w ambitny sposób wymaga umiejętności i bystrości umysłu, więc <a href="https://concepts.effectivealtruism.org/concepts/capacity-building/" target="_blank">budowanie zdolności personalnych</a> może być jedną z najlepszych 
                    metod pomagania na dłuższą metę. <a href="http://rationality.org" target="_blank">Center for Applied Rationality (CFAR)</a> oferuje regularne warsztaty dla najbardziej oddanych idei polepszania świata, 
                    podczas których wykształca się narzędzia do rozwoju personalnego.<br><br>
                    Jeśli chciałbyś polepszyć swoją produktywność i precyzyjność swoich przekonań, zerknij na listę <a href="http://rationality.org/about/cfar-faq" target="_blank">FAQ</a> 
                    oraz <a href="http://rationality.org/workshops/upcoming" target="_blank">listę nadchodzących warsztatów</a>.<br><br>
                    Nie masz czasu lub pieniędzy na warsztaty? Dzięki opublikowanej przez CFAR <a href="http://www.rationality.org/resources/reading-list" target="_blank">liście pozycji do przeczytania</a> oraz 
                    <a href="https://80000hours.org/career-guide/how-to-be-successful/" target="_blank">radach popartych badaniami</a>
                    na stronie 80,000 Hours masz szansę na darmowe samokierowane samodoskonalenie.
                    </p>

                    <h3 id="heading2">Przekaż ideę EA dalej</h3>

                    <p><h3><strong>Napisz na blogu na temat EA</strong></h3>
                    <strong>Zawód</strong>: Uczeń, Pracujący, Niepracujący<br> <strong>Zaangażowanie czasowe</strong>: Godziny <br><strong>Czas trwania</strong>: krótki, średni, długi
                    <br><strong>Znajomość idei Efektywnego Altruizmu</strong>: Ekspert<br><br>
                    Pisanie i publikowanie postów na blogu jest wspaniałym sposobem zarówno na przynoszenie korzyści innym, jak i na trenowanie swoich własnych umiejętności. 
                    W związku z tym, że obszar EA jest w chwili obecnej stosunkowo młody, każdy pojedynczy autor ma szansę przyczynić się do postępu w ważnej dziedzinie i rzucić nowe 
                    światło na pewne kwestie. Mimo, że zachęcamy wszystkich do krytycznego myślenia o tematach związanych z EA, taka aktywność najlepiej sprawdzi się w przypadku osób, 
                    które są dobrze zaznajomione z efektywnym altruizmem i/lub jego poszczególnymi obszarami.<br><br>
                    Istnieją jeszcze inne możliwe zalety blogowania. Luke Muehlhauser, który jest jedną z osób piszących dobrowolnie na temat EA, 
                    został dzięki temu zatrudniony przez MIRI oraz GiveWell/OpenPhil.<br><br>
                    Sarah Constantin, która często pisze tzw. <a href="http://lesswrong.com/lw/o7a/fact_posts_how_and_why/" target="_blank">fakt-posty</a>, zachęca blogerów do “zaczynania od empirycznego pytania lub ogólnego tematu” i 
                    sprawdzenia czego możemy się dowiedzieć z danej dziedziny w krótkim czasie. Jeśli chcesz zobaczyć przykłady fakt-postów, zerknij na wpisy <a href="https://srconstantin.wordpress.com/2017/01/28/performance-trends-in-ai/" target="_blank">o trendach w wynikach sztucznej 
                    inteligencji</a>, <a href="http://reducing-suffering.org/how-many-wild-animals-are-there/" target="_blank">dzikich zwierzętach</a>, 
                    <a href="http://truemedmd.com/wp-content/uploads/2013/07/Life_expectancy_scienceMay2002.pdf" target="_blank">oczekiwanej długości życia</a>
                    czy <a href="https://medium.com/guesstimate-blog/estimating-the-harm-north-korea-inflicts-on-its-citizens-dba605062a03" target="_blank"> Korei Północnej</a>.<br><br>
                    Jeśli jesteś zainteresowany pisaniem na tematy związane z EA, rozważ zrobienie przeglądu literatury, odpowiadanie na otwarte pytania lub wybierz swój własny temat, 
                    który może mieć znaczenie. Zanim opublikujesz post na <a href="http://effective-altruism.com/" target="_blank">EA Forum</a>, <a href="http://lesswrong.com/" target="_blank">LessWrong</a> lub własnym blogu, 
                    pozyskaj informacje zwrotne na temat jakości wpisu.<br><br>
                
                    <h3><strong>Szukaj porad dotyczących Twoich prac i projektów</strong></h3>
                    <strong>Zawód</strong>: Uczeń, Pracujący, Niepracujący, Grupa<br> <strong>Zaangażowanie czasowe</strong>: Godziny <br><strong>Czas trwania</strong>: krótki
                    <br><strong>Znajomość idei Efektywnego Altruizmu</strong>: Zaawansowany, Ekspert<br><br>
                    Piszesz pracę na temat filozofii moralności na EA Forum? Chcesz, żeby ktoś przejrzał Twoją petycję? Budujesz szkielet nowego projektu i chciałbyś, 
                    żeby ktoś spojrzał na niego świeżym okiem? Istnieje w tym celu specjalna grupa.
                    Żeby otrzymać informację zwrotną na temat Twojej pracy, dołącz do grupy <a href="https://www.facebook.com/groups/458111434360997/?ref=nf_target&fref=nf" target="_blank">Effective Altruism Editing and Review</a> na Facebooku. 
                    Dorzuć też swoje trzy grosze do zmagań innych osób. Jeśli potrzebujesz bardziej wyspecjalizowanej pomocy, dołącz do grupy na Facebooku poświęconej Twojej dziedzinie, 
                    np. <a href="https://www.facebook.com/groups/1521136334570384/" target="_blank">polityce</a>, <a href="https://www.facebook.com/groups/ea.entrepreneurship/" target="_blank">biznesowi</a>, 
                    <a href="https://www.facebook.com/groups/EAMentalHealth/about/" target="_blank">zdrowiu psychicznemu</a> lub <a href="https://www.facebook.com/groups/1908152989471367/" target="_blank">systems design</a>.<br><br>
                    <strong>Jeśli piszesz w języku polskim, skontaktuj się z nami - bardzo chętnie skomentujemy Twoją pracę i doradzimy jeśli będzie taka potrzeba. 
                    Dodatkowo, jeśli będziesz tego chciał/a, możemy ją także opublikować na naszym ogólnopolskim blogu EA.<strong><br><br>
                    

                    
                    
                
                
                
                
                </p>

                    
                </article>
            </div>


        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="js/sticky-sidebar.min.js"></script>
<script>
    var sidebar = new StickySidebar('#article-sidebar', {
        containerSelector: '.article-wrapper',
        innerWrapperSelector: '.article-sidebar__inner',
        topSpacing: 155,
        bottomSpacing: 20,
        minWidth: 576
    });
</script>
{% endblock scripts %}
