/*------------------------------------*\
   #FOOTER
\*------------------------------------*/

.page-footer {
    padding-top: 15px;
    padding-bottom: 15px;

    @include media-breakpoint-up(md) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.page-footer__copyright {
    font-size: 11px;
    line-height: 17px;
}

.footer-menu {
    font-size: 14px;

    li:not(:last-child) {
        margin-bottom: 5px;
    }
}

